<div th:fragment="dashboard">
<div class="w3-container" style="margin-top:14px;">
	<h6 class="w3-text-theme" style="margin-top:2px; margin-bottom:2px;">Your daily analytics</h6>
</div>
<div class="grid-stack">
	
	<div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="4" data-ga-height="2" data-gs-height="3">
		<div class="grid-stack-item-content w3-theme-l4">
			<div class="w3-container">
				<canvas id="bar-chart"></canvas>
			</div>
		</div>
	</div>
	<div class="grid-stack-item" data-gs-x="0" data-gs-y="6" data-gs-width="4" data-ga-height="2" data-gs-height="3">
		<div class="grid-stack-item-content w3-theme-l4">
			<div class="w3-container">
				<canvas id="line-chart"></canvas>
			</div>
		</div>
	</div>
	<div class="grid-stack-item" data-gs-x="0" data-gs-y="8" data-gs-width="4" data-ga-height="2" data-gs-height="3">
		<div class="grid-stack-item-content w3-theme-l4">
			<div class="w3-container">
				<canvas id="bar-chart-grouped"></canvas>
			</div>
		</div>
	</div>
	<div class="grid-stack-item" data-gs-x="8" data-gs-y="0" data-gs-width="4" data-ga-height="2" data-gs-height="5">
		<div class="grid-stack-item-content w3-theme-l4">
			<div class="w3-container">
				<canvas id="pie-chart"></canvas>
			</div>
		</div>
	</div>
	<div class="grid-stack-item" data-gs-x="4" data-gs-y="0" data-gs-width="4" data-ga-height="2" data-gs-height="5">
		<div class="grid-stack-item-content w3-theme-l4">
			<div class="w3-container">
				<canvas id="radar-chart"></canvas>
			</div>
		</div>
	</div>
	<div class="grid-stack-item" data-gs-x="4" data-gs-y="4" data-gs-width="4" data-ga-height="2" data-gs-height="5">
		<div class="grid-stack-item-content w3-theme-l4">
			<div class="w3-container">
				<canvas id="polar-chart"></canvas>
			</div>
		</div>
	</div>
	<div class="grid-stack-item" data-gs-x="8" data-gs-y="4" data-gs-width="4" data-ga-height="2" data-gs-height="3">
		<div class="grid-stack-item-content w3-theme-l4">
			<div class="w3-container">
				<canvas id="mixed-chart"></canvas>
			</div>
		</div>
	</div>
	<div class="grid-stack-item" data-gs-x="0" data-gs-y="4" data-gs-width="4" data-ga-height="2" data-gs-height="3">
		<div class="grid-stack-item-content w3-theme-l4">
			<div class="w3-container">
				<canvas id="bar-chart-horizontal"></canvas>
			</div>
		</div>
	</div>
	<div class="grid-stack-item" data-gs-x="8" data-gs-y="4" data-gs-width="4" data-ga-height="2" data-gs-height="5">
		<div class="grid-stack-item-content w3-theme-l4">
			<div class="w3-container">
				<canvas id="doughnut-chart"></canvas>
			</div>
		</div>
	</div>
</div>
</div>