<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css"
          rel="stylesheet"/>
    <script type="text/javascript"
            src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>
    <script src="/js/editUserProfile.js"></script>
    <script src="/js/editUserProfileRole.js"></script>
</head>
<body>
<div th:fragment="userProfileEdit">
    <div class="w3-container" style="margin-top:14px;">
        <h4 class="w3-text-theme" style="margin-top:2px; margin-bottom:2px;">Add/Edit User Profile</h4>
    </div>
    <div class="w3-container">
        <hr class="hrline">
        <div class="w3-row">
            <div class="w3-container w3-third">
                <div class="w3-row">
                    <div class="w3-third">
                        <label>Person Number: </label>
                    </div>
                    <div class="w3-twothird">
                        <label style="color: blue;" th:text="${personInfo.getPersonnumber()}"></label>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-third">
                        <label>Name : </label>
                    </div>
                    <div class="w3-twothird">
                        <label style="color: blue;" th:text="${personInfo.getPersonname()}"></label>
                    </div>
                </div>

                <div>
                    <input id="id" type="hidden" readonly name="id" th:value="${userDetails[0].getId()}"/>
                    <input id="userid" type="hidden" readonly name="id" th:value="${personInfo.getPersonnumber()}"/>
                </div>

            </div>
            <div class="w3-container w3-third">
                <div class="w3-row">
                    <div>
                        <input class="w3-check" type="checkbox">
                        <label>Account Locked Out?</label>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hrline">
    </div>

    <div class="w3-container">
        <div class="w3-row">
            <a href="javascript:void(0)" onclick="openTab(event, 'General');">
                <div class="w3-col tablink w3-bottombar w3-hover-light-grey w3-padding w3-border-blue-grey w3-theme-l3"
                     style="width:50%">General
                </div>
            </a>
            <a href="javascript:void(0)" onclick="openTab(event, 'Roles');">
                <div class="w3-col tablink w3-bottombar w3-hover-light-grey w3-padding" style="width:50%">Roles</div>
            </a>
            <!--  <a href="javascript:void(0)" onclick="openTab(event, 'Audit');">
                    <div class="w3-col tablink w3-bottombar w3-hover-light-grey w3-padding" style="width:25%">Audit</div>
              </a>
              <a href="javascript:void(0)" onclick="openTab(event, 'UIQ');">
                    <div class="w3-col tablink w3-bottombar w3-hover-light-grey w3-padding" style="width:25%">Queries</div>
              </a>-->
        </div>
    </div>

    <!-- Begin of General Tab -->
    <div id="General" class="w3-container w3-padding optTab">
        <div class="w3-row w3-padding">
            <button onClick="showHodeContent('general_logon')" class="w3-button w3-block w3-theme w3-left-align">Logon
                Information
            </button>
            <div id="general_logon" class="w3-show">
                <div class="w3-container">
                    <div class="w3-row w3-padding">
                        <div class="w3-container w3-third">
                            <div class="w3-row">
                                <div>
                                    <input class="w3-check" type="checkbox" onChange="showHidePwdBlock('newPwdBlock')">
                                    <label>Change Password?</label>
                                </div>
                            </div>
                            <div class="w3-row">
                                <div>
                                    <input class="w3-check" type="checkbox">
                                    <label>Password Expired?</label>
                                </div>
                            </div>
                        </div>

                        <form method="post" id="ChangePasswordForm" enctype="multipart/form-data"
                              onsubmit="return false;">
                            <div id="newPwdBlock" class="w3-hide">
                                <div class="w3-container w3-third">
                                    <div class="w3-row">
                                        <div>
                                            <label>New Password</label>
                                            <input type="password" name="newpass" id="newpass" class="w3-input w3-border">
                                        </div>
                                    </div>
                                    <div class="w3-row rowMarTop">
                                        <div>
                                            <label>Confirm Password</label>
                                            <input type="password" name="confpass" id="confpass" onchange="matchPass()" class="w3-input w3-border" >
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="w3-container w3-third">
                                    <div class="w3-row">
                                        <div>
                                            <label>Email ID</label>
                                            <input class="w3-input w3-border" type="text"
                                                   th:value="${personInfo.getEmailaid()}">
                                        </div>
                                    </div>
                                </div>-->

                                <div class="w3-container w3-third">
                                    <div class="w3-row">
                                        <div>
                                            <label>Email ID</label>
                                            <input class="w3-input w3-border" type="text"
                                                   th:value="${personInfo.getEmailaid()}">
                                            <input class="w3-input w3-border" type="hidden" id="loginid" name="loginid"
                                                   th:value="${personInfo.getPersonnumber()}">
                                        </div>
                                    </div>
                                    <div class="w3-row rowMarTop">
                                        <div class="w3-right">
                                            <div disabled type="button" class="w3-btn w3-theme" id="btnSave"
                                                 onclick="savePassword();" style="margin-top: 25px;">
                                                Save
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="w3-row w3-padding">
            <button onClick="showHodeContent('general_id')" class="w3-button w3-block w3-theme w3-left-align">ID Type
                and Value
            </button>
            <div id="general_id" class="w3-show">
                <div class="w3-container">
                    <div class="w3-row w3-padding">
                        <div class="w3-container w3-third">
                            <div class="w3-row">
                                <div>
                                    <label>User Type</label>
                                    <select class="w3-select w3-border" name="userType">
                                        <option value="1">Employee</option>
                                        <option value="2">Student</option>
                                        <option value="3">Customer</option>
                                        <option value="4">Supplier</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="w3-container w3-third">
                            <div class="w3-row">
                                <div>
                                    <label>Employee ID</label>
                                    <div class="w3-row">
                                        <div class="w3-col" style="width:85%">
                                            <input class="w3-input w3-border" disabled type="text"
                                                   th:value="${personInfo.getPersonnumber()}" placeholder="Employee ID">
                                        </div>
                                        <div class="w3-rest">
                                            <button class="w3-button"><i class="fa fa-search w3-large"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>

    <!-- End of General Tab -->

    <!-- Begin of Roles Tab -->
    <div id="Roles" class="w3-container optTab" style="display:none">
        <div class="w3-row">
            <div class="w3-quarter">
                <div class="w3-container">
                    <h5 style="margin-bottom: 0px; margin-bottom: 0px; font-weight: bold;">&nbsp;</h5>
                    <div class="w3-row">
                        <div class="w3-container">
                            <div class="w3-row w3-right-align w3-padding">
                                <button id="userSearch" class="w3-btn w3-theme" type="button"
                                        onclick="assignUserRoles()">Add New Role
                                </button>
                            </div>
                            <!--<input id="seleted-rows" type="text" name="actionid"  />-->
                            <div id="seleted-rows">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w3-threequarter">
                <div class="w3-container">
                    <h5 style="margin-bottom: 0px; margin-bottom: 0px; font-weight: bold;">Provided Roles</h5>
                    <div class="w3-row" id="resultroles">
                        <table id="providedRoleList" class="display compact w3-table" style="width: 100%;">
                            <thead>
                            <tr class="w3-theme-d3">
                                <th>Role Id</th>
                                <th>Role Name</th>

                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div id="noDatauser" style="display:none;">
                        <p>No Results Found...</p>
                    </div>
                </div>
            </div>
        </div>

        <!--popup added by rajat start here-->
        <div id="addUserRole" class="w3-modal">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom">
                <header class="w3-container w3-theme-d1">
                    <span onclick="document.getElementById('addUserRole').style.display='none';"
                          class="w3-button w3-display-topright">&times;</span>
                    <h4>
                        <i class="fas fa-tasks"></i>&nbsp;&nbsp;Assign Roles
                    </h4>
                </header>
                <br>
                <div class="w3-container">
                    <div class="w3-row-padding" style="font-size: 12px;">
                        <div class="w3-half">
                            <p>
                                <label>Person Number:</label><br>
                                <label style="color: blue;" id="personnumber1"
                                       th:text="${personInfo.getPersonnumber()}"></label>
                            </p>
                        </div>
                        <div class="w3-halfs">
                            <p>
                                <label>Person Name:</label><br>
                                <label style="color: blue;" id="personname1"
                                       th:text="${personInfo.getPersonname()}"></label>
                            </p>
                        </div>
                    </div>
                    <hr class="hrline">
                    <form id="roleMapping" enctype="application/x-www-form-urlencoded" onsubmit="return false;"
                          method="POST">


                        <div id="emptbl" class="w3-container">
                            <div class="w3-row">
                                <table id="popupRoleList" class="display compact w3-table" style="width: 100%;">
                                    <thead>
                                    <tr class="w3-theme-d1">
                                        <th>-</th>
                                        <th>Role Id</th>
                                        <th>Role Name</th>
                                    </tr>
                                    </thead>
                                    <tbody id="roles">

                                    </tbody>
                                </table>
                                <!--<input class="Add" id="actionids" name="actionids">-->
                                <!--<input type="text" value="" id="allStudentIds" name="actionids">-->
                                <input id="UserId" type="hidden" name="userid" th:value="${userDetails[0].getId()}"
                                       readonly/>

                            </div>
                        </div>
                        <div id="noDatapopup" style="display:none;">
                            <p>No Results Found...</p>
                        </div>
                </div>
                <div class="w3-bar">
                    <div class="buttonbarpadding w3-bar-item w3-right" style="margin-top: 3px;">
                        <div id="CR_ROL_POP_OK" onclick="addroleUser();"
                             class="w3-bar-item w3-btn w3-blue w3-round-large buttonbarmargin btn_click" type="button">
                            <i class="fa fa-save" aria-hidden="true"></i>&nbsp;&nbsp;Save
                        </div>
                        <div id="CR_ROL_POP_CNCL" onclick="document.getElementById('addUserRole').style.display='none';"
                             class="w3-bar-item w3-btn w3-red w3-round-large buttonbarmargin" type="button"><i
                                class="fas fa-arrow-circle-left" aria-hidden="true"></i>&nbsp;&nbsp;Return
                        </div>
                    </div>
                    <pre id="example-console">
							</pre>
                </div>
                </form>
            </div>
        </div>

    </div>
    <!--popup added by rajat end here  -->
    <script src="/js/editUserProfile.js"></script>
    <script src="/js/editUserProfileRole.js"></script>
</div>
<!-- End of Roles Tab -->

<!-- Begin of Audit Tab -->
<div id="Audit" class="w3-container optTab" style="display:none">
    <h3>Audit</h3>
    <div class="w3-container w3-padding">
        <div class="w3-row">
            <div class="w3-container w3-twothird">
                <div class="w3-row w3-padding">
                    <div class="w3-third">
                        <label>Last Updated by User Id: </label>
                    </div>
                    <div class="w3-twothird">
                        <label th:text="${loginId}"></label>
                    </div>
                </div>
                <div class="w3-row w3-padding">
                    <div class="w3-third">
                        <label>Last Updated Date/Time: </label>
                    </div>
                    <div class="w3-twothird">
                        <label>Kunwar Jaishankar</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Audit Tab -->

    <!-- Begin of Query Tab -->
    <div id="UIQ" class="w3-container optTab" style="display:none">
        <h2>UIQ</h2>
    </div>
    <!-- End of Query Tab -->
</div>

<div class="w3-container">
    <div class="w3-row w3-padding-32">
        <button id="saveUser" class="w3-btn w3-theme" type="button">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
        <button id="returnToUserSearch" class="w3-btn w3-theme" type="button">Return to search</button>
    </div>
</div>

</div>
</body>
</html>