<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="css/w3.css">
</head>
<body>

<div class="w3-row w3-padding w3-blue-grey">
<h2>Enterprise </h2>				
</div>
<br>

<div class="w3-container" style="margin-top:14px;">
			<h4 class="w3-text-theme" style="margin-top:2px; margin-bottom:2px;"><b>Enterprise Description</b></h4>
		</div>
<hr class="hrline">

<!------------------------------------------------------------------------>
	<div class="w3-row w3-padding">

		<div id="general_id" class="w3-show">
			<div class="w3-container">
				<div class="w3-row w3-padding-small">
					<div class="w3-container w3-half">
						<div class="w3-row">
							<div>
								<table>
									<thead>
										<tr>
											<Td style="width: 45%" align="right">Effectiv Start Date:</Td>
											<td><input type="text" name="effdt"></td>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>

<div class="w3-container w3-half">
						<div class="w3-row">
							<div>
								<table>
									<thead>
										<tr>
											<Td style="width: 45%" align="right">Internal Address Line:</Td>
										
											<td><input type="text" name="int_add" ></td>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	</div>
		
<!------------------------------------------------------------------------>	



<!------------------------------------------------------------------------>
	<div class="w3-row w3-padding">

		<div id="general_id" class="w3-show">
			<div class="w3-container">
				<div class="w3-row w3-padding-small">
					<div class="w3-container w3-half">
						<div class="w3-row">
							<div>
								<table>
									<thead>
										<tr>
											<Td style="width: 45%" align="right">Name:</Td>
											<td><input type="text" name="name"></td>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>

<div class="w3-container w3-half">
						<div class="w3-row">
							<div>
								<table>
									<thead>
										<tr>
											<Td style="width: 45%" align="right">Location:</Td>
										
											<td><input type="text" name="loc"></td>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	</div>
		
<!------------------------------------------------------------------------>	




<!------------------------------------------------------------------------>
	<div class="w3-row w3-padding">

		<div id="general_id" class="w3-show">
			<div class="w3-container">
				<div class="w3-row w3-padding-small">
					<div class="w3-container w3-half">
						<div class="w3-row">
							<div>
								<table>
									<thead>
										<tr>
											<Td style="width: 45%" align="right">Status:</Td>
											<td><input type="text" name="sts"></td>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>

<div class="w3-container w3-half">
						<div class="w3-row">
							<div>
								<table>
									<thead>
										<tr>
											<Td style="width: 45%" align="right">Address:</Td>
										
											<td><input type="text" name="addrs" ></td>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	</div>
		
<!------------------------------------------------------------------------>	
					

<!------------------------------------------------------------------------>
	<div class="w3-row w3-padding">

		<div id="general_id" class="w3-show">
			<div class="w3-container">
				<div class="w3-row w3-padding-small">
					<div class="w3-container w3-half">
						<div class="w3-row">
							<div>
								<table >
									<thead>
										<tr>
											<Td style="width: 45%" align="right">Effective End Date:</Td>
											<td><input type="text" name="effedt"></td>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>

<div class="w3-container w3-half">
						<div class="w3-row">
							<div>
								<table width="90%" >
									<thead>
										<tr >
											<td align="right"><button class="w3-button w3-blue-grey">Submit</button></td>
										
											<td><button class="w3-button w3-blue-grey">Cancel</button></td>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	</div>
		
<!------------------------------------------------------------------------>	
					
					
					
					

		<script src="/js/editUserProfile.js"></script>
		
</body>
</html>