<div th:fragment="searchPassword">

    <div class="w3-container">
        <h3 class="w3-text-theme" style="margin-top:30px">Search Person</h3>
    </div>

    <div class="w3-row">
        <div class=w3-third style="border-right: 2px solid black">

            <div class="w3-container">
                <div class="divTable">
                    <div class="divTr">

                        <div class="d1">
                            <h5 style="font-weight: bold">Find an existing Value</h5>
                        </div>

                    </div>

                </div>

                <hr class="hrline">
                <h6>Search Criteria</h6>
                <p>
                    <label>Person Department</label> <input value="" class="w3-input w3-border"
                                                            name="PersonDept" id="PERSON_DEPT" type="text"
                                                            onkeypress="handleKeyPress(event)">

                </p>
                <p>
                    <label>Person Legal Entity</label> <input value="" class="w3-input w3-border"
                                                              name="PersonLegalEntity" id="PERSON_LEGAL_ENTITY"
                                                              type="text" onkeypress="handleKeyPress(event)">

                </p>
                <p>
                    <label>Person Name</label> <input value="" class="w3-input w3-border"
                                                      name="PersonName" id="PERSON_NAME" type="text"
                                                      onkeypress="handleKeyPress(event)">

                </p>
                <p>
                    <label>Person Number</label> <input value="" class="w3-input w3-border"
                                                        name="PersonNumber" id="PERSON_NUMBER" type="text"
                                                        onkeypress="handleKeyPress(event)">

                </p>


                <p>
                    <button id="Personal_SEARCH" class="w3-button w3-theme w3-grey">Search</button>

                </p>
            </div>


        </div>


        <div class="w3-twothird w3-container">
            <h5 style="margin-bottom: 0px; margin-bottom: 0px; font-weight: bold;">Search Results</h5>

            <div id="PersonalRecordresultSec" class="w3-responsive" style="display:none">
                <table id="PersonalRecordList" class="display compact w3-table" style="width: 100%;">
                    <thead>
                    <tr class="w3-theme-d3">
                        <th>Person Name</th>
                        <th>Person Number</th>
                        <th>Person Location</th>
                        <th>Person Department</th>
                        <th>Person Email</th>
                        <th>Person Legal Entity</th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div id="noData" class="w3-responsive" style="display: none">
                <div>
                    <p>No record found...</p>
                </div>
            </div>
            <div id="jsonLoaderPage" class="w3-responsive" style="display: none">
                <div>
                    <div class='w3-container' style='width: 100%; margin-top:50px; text-align: center'>
                        <i class='fa fa-cog fa-spin' style='font-size: 30px;'></i>
                        <p style="color: black;">Loading......</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="changePasswordEmployee" class="w3-modal" style="padding-top: 60px !important; display: none">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="width: 70%">
            <header class="w3-container w3-theme-d1">
                <span onclick="document.getElementById('changePasswordEmployee').style.display='none';"
                      class="w3-button w3-display-topright">&times;</span>
                <h4><i class="fas fa-tasks"></i>&nbsp;&nbsp;Change Password </h4>
            </header>
            <br>
            <div class="w3-container">
                <div class="w3-row-padding" style="font-size: 12px;">
                    <div class="w3-quarter">
                        <p>
                            <label>Person Number:</label><br>
                        </p>
                    </div>
                    <div class="w3-quarter">
                        <p>
                            <label style="color: blue;" id="personnumber">Person Number</label>
                        </p>
                    </div>
                    <div class="w3-quarter">
                        <p>
                            <label>Person Name:</label><br>
                        </p>
                    </div>
                    <div class="w3-quarter">
                        <p>
                            <label style="color: blue;" id="personname">Person Number</label>
                        </p>
                    </div>
                </div>


                <hr class="hrline">
                <form id="assignmentForm"
                      enctype="application/x-www-form-urlencoded"
                      onsubmit="return false;" method="POST">
                    <div class="w3-row-padding">


                        <form method="post" id="ChangePasswordForm" enctype="multipart/form-data"
                              onsubmit="return false;">
                            <div class=w3-half>
                                <div class="w3-container">
                                    <label>New Password</label>
                                    <input type="password" onkeypress="return RestrictSpace()" name="newpass" id="newpass" class="w3-input w3-border">
                                </div>
                            </div>

                            <div class=w3-half>
                                <div class="w3-container">
                                    <label>Confirm Password</label>
                                    <input type="password" name="confpass" onkeypress="return RestrictSpace()" id="confpass" onchange="matchPass()"
                                           class="w3-input w3-border">
                                </div>
                                <input class="w3-input w3-border" type="hidden" id="loginid" name="loginid">

                            </div>
                        </form>


                    </div>
                    <div class="w3-bar">
                        <div class="buttonbarpadding w3-bar-item w3-right"
                             style="margin-top: 3px;">
                            <div id="btnSave" onclick="savePassword();"
                                 class="w3-bar-item w3-btn w3-blue w3-round-large buttonbarmargin"
                                 type="button">
                                <i class="fa fa-save" aria-hidden="true"></i>&nbsp;&nbsp;Save
                            </div>

                            <div onclick="document.getElementById('changePasswordEmployee').style.display='none';"
                                 class="w3-bar-item w3-btn w3-red w3-round-large buttonbarmargin"
                                 type="button">
                                <i class="fas fa-arrow-circle-left" aria-hidden="true"></i>&nbsp;&nbsp;Return
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="/js/itadmin/changePassword.js"></script>


</div>