<div th:fragment="entertainmentSearch">
	<div class="w3-main" style="margin-left: 300px; margin-top: -14px; margin-bottom:16px;">
		<div style="position: relative;">
			<div class="w3-container">
				<h4 style="font-weight: 400;">
					<img onclick="w3_open()" class="w3-hide-large" src="/images/hide-grader-panel.png"
						style="cursor: pointer;"> 
						<i class="fas fa-music" style=" color: #027b7b;"></i>
						&nbsp;Entertainment Reimbursement
					</h4>
				</div>
			</div>

		<!-- <div class="w3-container w3-row" style="padding-top:2%">
			<div class="w3-container w3-threequarter">
				<h5 class="w3-text-theme" style="font-weight: bold; margin-top: 2px; bottom: 2px;">
					Find Existing Elements
				</h5>
			</div>
			<div class="w3-container w3-quarter">
				<button class="w3-button w3-theme w3-right" id="addbtn" onclick="addClaimEntertainment();">
					<i class="fas fa-plus"></i>
				</button>
				<button class="w3-button w3-theme w3-right" id="searchbtn">Search</button>
			</div>
		</div>
		<hr class="hrline"> -->
		<!--Transport Reimbursement Form Content Goes here By @Suraj Start-->




<!-- 		<div class="w3-container" style="margin-top: 10px;">
			<p class="w3-large">
				<strong>Employee Details:</strong>
			</p>


			<div class="w3-row">
				<div class="w3-col m4 ">
					<div class=" w3-center" style="height: 200px;">
						<img th:src="@{/images/avatar.png}" alt="Person"
							style="height: 150px; width: 150px">
					</div>

				</div>
				<div class="w3-col m4">


					<p>
						<label><strong>Employee Id:</strong></label>&nbsp;<label
							th:text="${personInfo.getPersonid()}"></label>
					</p>

					<p>
						<label><strong>Employee Name:</strong></label>&nbsp;<label
							th:text="${personInfo.getPersonname()}"></label>
					</p>


					<p>
						<label><strong>Date of Birth:</strong></label>&nbsp;<label
							th:text="${personInfo.getDateofbirth()}"></label>
					</p>

					<p>
						<label><strong>Nature of Employment:</strong></label>&nbsp;<label
							th:text="${personInfo.getEmployeetype()}"></label>
					</p>

					<p>
						<label><strong>Designation:</strong></label>&nbsp;<label
							th:text="${personInfo.getDesignation()}"></label>
					</p>
				</div>
				<div class="w3-col m4 ">


					<p>
						<label><strong>Enterprise Hire Date:</strong></label>&nbsp;<label
							th:text="${personInfo.getJoiningdate()}"></label>
					</p>

					<p>
						<label><strong>Vehicle User:</strong></label>&nbsp;<label
							th:text="${personInfo.getVehicleused()}">AWE12</label>
					</p>

					<p>
						<label><strong>Phone Number:</strong></label>&nbsp;<label
							th:text="${personInfo.getPhonenumber()}"></label>
					</p>

					<p>
						<label><strong>Email Id:</strong></label>&nbsp;<label
							th:text="${personInfo.getEmailaid()}"></label>
					</p>

				</div>
			</div>
			<hr class="hrline">

		</div> -->
 
 		<div id="fragmaent_container" th:include="forms/reimbursement/header :: header"></div>	
 		
 		<div class="w3-bar w3-theme-l3">
			<h5 class="w3-bar-item">Previous Claims</h5>
			<div id="addbtn" onclick="addClaimEntertainment();" class="w3-bar-item w3-btn w3-blue w3-round-large w3-right buttonbarmargin" style="margin-top:8px;"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Raise New Request</div>
		</div>
 		
		<div class="w3-full w3-container w3-row" id="Entertainment_Claim_History_div" style="margin-top:10px" >
			<table id="Entertainment_Claim_History" class="w3-table-all" style="text-align: center;">
				<thead>
					<th style="text-align: center;">Claim Id</th>
					<th style="text-align: center;">Date</th>
					<th style="text-align: center;">Amount Claimed</th>
					<th style="text-align: center;">Amount Approved</th>
					<th style="text-align: center;">Status</th>
					<th style="text-align: center;">View</th>
					<th style="text-align: center;">Edit</th>
				</thead>
			</table>
		</div>


		<div id="noData" class="w3-responsive" style="display: none; margin:10px">
			<div>
				<p>No record found...</p>
			</div>
		</div>


		<!--<div class="w3-container w3-center" style="margin-top: 20px;">
			<button id="transportManager" class="w3-button w3-theme"
				onclick="addClaimEntertainment();">
				<i class="fas fa-plus">&nbsp;Add</i>
			</button>
		</div>-->

		<!-- --------------------------------Form End---------------------- -->



		<!--Transport Reimbursement Form Content Goes here By @Suraj End-->

		<script src="/js/reimbursement/entertainment/entertainmentSearch.js"></script>




	</div>
</div>




