<div th:fragment="createCdaRemb">
<style>

		
		#DOWNLOAD_LINK ,#DOWNLOAD_LINK1,#my_hod_certificate_link1{
         color: blue;
		  background-color: transparent;
		  text-decoration: none;
          }
		
		/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
	</style>
	<link
		href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		rel="stylesheet" type="text/css">
	<script th:inline="javascript">
		/*<![CDATA[*/
		    var resultfinal = /*[[${result}]]*/;
		    var datess = /*[[${datess}]]*/;
			var fileatach = /*[[${fileatach}]]*/;
		     var attchmentEnable = /*[[${attchmentEnable}]]*/;
		/*]]>*/
	</script>
	<form method="post" id="CDA_SAVE" enctype="multipart/form-data"
		onsubmit="return false;">
		<input id="statusid" value="" type="hidden" name="statusid" /> <input
			id="attachment1" name="attachment1" type="hidden" />
		<div class="w3-main" style="margin-left: 300px; margin-top: -14px;">
			<div style="position: relative;">
				<div class="w3-container">
					<h4 style="font-weight: 400;">
						<img onclick="w3_open()" class="w3-hide-large" src="/images/hide-grader-panel.png"
						style="cursor: pointer;">
						<i class="fas fa-luggage-cart" style="color: #027b7b;"></i>&nbsp;CDA Reimbursement
					</h4>
				</div>
			</div>
			<div id="fragmaent_container" th:include="forms/reimbursement/header :: header"></div>
			<div class="w3-bar w3-theme-l3">
				<h5 class="w3-bar-item">Claim Details</h5>
				<div class="w3-bar-item w3-right" style="margin-top: 1px; " th:if="${cdaVehicle.getClaimid()==0}">
					<div type="button" style="float:left" class="w3-btn w3-red w3-round-large" onclick="backBtnFunc();" id="btnSearch">
						<i class="fa fa-chevron-circle-left" aria-hidden="true"></i>&nbsp;&nbsp;Return to Search
					</div>&nbsp;
					<div disabled type="button" class="w3-btn w3-blue w3-round-large" id="btnSave" onclick="loadSaveCdaVehicle('save','CDA_SAVE',this);">
						<i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;Save Claim
					</div>
				</div>
				<div class="w3-bar-item w3-right" style="margin-top: 1px;" th:if="${cdaVehicle.getClaimid()!=0} and ${mode == 'edit'}">
					<div type="button" style="float:left; margin: 5px;" class="w3-btn w3-red w3-round-large" onclick="backBtnFunc();" id="btnSearch">
						<i class="fa fa-chevron-circle-left" aria-hidden="true"></i>&nbsp;&nbsp;Return to Search
					</div>
					
					<div type="button" style="float:left; margin: 5px;" class="w3-btn w3-blue w3-round-large" id="btnSave" onclick="loadUpdateCdaVehicle('save','CDA_SAVE',this);">
						<i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;Update
					</div>
					
					<div type="button"  style="float:left; margin: 5px;" class="w3-btn w3-green w3-round-large" id="btnSubmit" onclick="loadUpdateCdaVehicle('submit','CDA_SAVE',this);">
						<i class="fa fa-upload" aria-hidden="true"></i>&nbsp;&nbsp;Submit
					</div>
					
				</div>
				<div class="w3-bar-item w3-right" style="margin-top: 1px;" th:if="${cdaVehicle.getClaimid()!=0} and ${mode == 'view'}">
					<div type="button"  class="w3-btn w3-red w3-round-large" onclick="backBtnFunc();" id="btnSearch">
						<i class="fa fa-chevron-circle-left" aria-hidden="true"></i>&nbsp;&nbsp;Return to Search
					</div>
				</div>
			</div>
			<br />
			<div class="w3-row-padding">
			
			<div th:if="${personInfo.getJob()=='Assistant Manager'} or ${personInfo.getJob()=='assistant manager'}">
				<div class="w3-col" style="width:30%">
				<strong><label>Entitlement CDA:&nbsp;</label></strong>
				<label class="w3-text-blue" th:text="2500" id="cda"></label>
				&nbsp;<label>INR Per Month</label></div>
				<div class="w3-col" style="width:30%">
				<strong><label>Vehicle Allowance:&nbsp;</label></strong> 
				<label class="w3-text-blue"	th:text="0" id="vehical"></label>
				&nbsp;<label>INR Per Month</label>
				</div>
			</div>
			
			<div th:if="${personInfo.getJob()=='Manager'} or ${personInfo.getJob()=='manager'}">
				<div class="w3-col" style="width:30%">
				<strong><label>Entitlement CDA:&nbsp;</label></strong>
				<label class="w3-text-blue" th:text="3000" id="cda"></label>
				&nbsp;<label>INR Per Month</label></div>
				<div class="w3-col" style="width:30%">
				<strong><label>Vehicle Allowance:&nbsp;</label></strong> 
				<label class="w3-text-blue"	th:text="0" id="vehical"></label>
				&nbsp;<label>INR Per Month</label>
				</div>
			</div>
			
			<div th:if="${personInfo.getJob()=='Supervisor'} or ${personInfo.getJob()=='supervisor'}">
				<div class="w3-col" style="width:30%">
				<strong><label>Entitlement CDA:&nbsp;</label></strong>
				<label class="w3-text-blue" th:text="2000" id="cda"></label>
				&nbsp;<label>INR Per Month</label></div>
				<div class="w3-col" style="width:30%">
				<strong><label>Vehicle Allowance:&nbsp;</label></strong> 
				<label class="w3-text-blue"	th:text="2000" id="vehical"></label>
				&nbsp;<label>INR Per Month</label>
				</div>
			</div>
			
			<div th:if="${personInfo.getJob()=='Sr. Supervisor'} or ${personInfo.getJob()=='Sr. Supervisor'}">
				<div class="w3-col" style="width:30%">
				<strong><label>Entitlement CDA:&nbsp;</label></strong>
				<label class="w3-text-blue" th:text="2000" id="cda"></label>
				&nbsp;<label>INR Per Month</label></div>
				<div class="w3-col" style="width:30%">
				<strong><label>Vehicle Allowance:&nbsp;</label></strong> 
				<label class="w3-text-blue"	th:text="2000" id="vehical"></label>
				&nbsp;<label>INR Per Month</label>
				</div>
			</div>
			
			<div th:if="${personInfo.getJob()=='Non-Supervisor'} or ${personInfo.getJob()=='non-supervisor'}">
				<div class="w3-col" style="width:30%">
				<strong><label>Entitlement CDA:&nbsp;</label></strong>
				<label class="w3-text-blue" th:text="1500" id="cda"></label>
				&nbsp;<label>INR Per Month</label></div>
				<div class="w3-col" style="width:30%">
				<strong><label>Vehicle Allowance:&nbsp;</label></strong> 
				<label class="w3-text-blue"	th:text="0" id="vehical"></label>
				&nbsp;<label>INR Per Month</label>
				</div>
			</div>
			
				<!-- <p>
					<strong><label>Entitlement:&nbsp;</label></strong> <label
						class="w3-text-blue" th:text="${empent}"></label>&nbsp;&nbsp;<label>INR
					Per Month</label>
				</p> -->
			</div>
			<!-- <div id="submitblock" class="w3-modal">
				<div class="w3-modal-content w3-card-4 w3-animate-zoom"
					style="max-width: 400px;">
					<div
						class="w3-center w3-container w3-border-top w3-padding-16 w3-light-grey">
						<label id="lblMsg" style="font-weight: bold"> </label> 
						<a id="okbtn" rm="reimbursement/telephoneSearch">OK</a>	
					</div>	
				</div>
				</div> -->
			<div class="w3-container w3-row w3-margin-top">
				<div class="w3-row" style="display: none;">
					<div class="w3-quarter w3-container">
						<p>
							<lable>Cda vehicle id</lable>
							<input id="txtclaimidid" type="text" name="claimid"
								th:value="${cdaVehicle.getClaimid()}" />
						</p>
					</div>
					<div class="w3-quarter w3-container">
						<p>
							<lable>Person Id</lable>
							<input id="txtpersonid" type="text" name="personid"
								th:value="${personInfo.getPersonid()}" />
						</p>
					</div>
					<div class="w3-quarter w3-container">
						<p>
							<lable>Person Number</lable>
							<input id="txtpersonNumber" type="text" name="personnumber"
								th:value="${personInfo.getPersonnumber()}" />
						</p>
					</div>
					<div class="w3-quarter w3-container">
						<p>
							<lable>Reimbursemnet ID</lable>
							<input id="txtRembId" type="text" name="reimburseid" value="7" />
						</p>
					</div>
					<div class="w3-quarter w3-container">
						<p>
							<lable>Approved Amount</lable>
							<input id="txtRembId" type="text" name="approvedamt" value="0" />
						</p>
					</div>
				</div>
			</div>
			<!----------------------------------------------- Page Display in View Mode start Here----------------->
			<!-- <div class="w3-row"
				th:style="${mode == 'view'}?'display:block':'display:none'" > -->
			<div th:if="${cdaVehicle.getClaimid()!=0} and ${mode=='view'}">
				<div class=w3-half>
					<div class="w3-container">
						<p>
							<label> Period From </label> <input style="height: 38px"
								max="9999-12-31" class="w3-input w3-border" id="CR_CDS_PRD_FROM"
								type="date" data-date="" data-date-format='YYYY MM DD'
								tabindex="1" th:name="periodfromV"
								th:value="${cdaVehicle.getPeriodfrom()}" readonly />
						</p>
						<p>
							<label>Physical Location</label> <input
								class="w3-input w3-border" id="CR_CDS_PHY_LOCTION" type="text"
								th:name="physicalloactionV"
								th:value="${cdaVehicle.getPhysicalloaction()}" readonly>
						</p>
						<p>
							<label>Number of Days</label> <input style="height: 38px"
								class="w3-input w3-border" id="CR_CDS_NO_DYS" type="text"
								th:name="noofdaysV" th:value="${cdaVehicle.getNoofdays()}"
								readonly />
						</p>
						<p>
							<label>Number of Months</label> <input style="height: 38px"
								class="w3-input w3-border" id="CR_CDS_NO_MNTS" type="text"
								th:name="noofmonthsV" th:value="${cdaVehicle.getNoofmonths()}"
								readonly />
						</p>
						<p th:if="${cdaVehicle.getVehicleused()!=''}">
							<label>Vehicle Used</label><span style="color: red"> *</span> 
							<select
								id="CR_CDS_NO_MNTS" class="w3-select w3-border" tabindex="4"
								name="vehicleusedV" disabled>
								<option value="" disabled selected></option>
								<option th:each="vec : ${Vehicalused}"
									th:selected="${vec.getDescription() eq cdaVehicle.getVehicleused()}"
									th:value="${vec.getDescription()}"
									th:text="${vec.getDescription()}"></option>
							</select>
						</p>
						<!-- <p>
							<label>Approval of HOD Certificate</label> <input
								style="height: 38px" class="w3-input w3-border" value="yes"
								id="CR_CDS_HOD_ATCHMNT" type="file" name="file"
								th:value="${cdaVehicle.getApprovalofhodcerti()}" disabled />
							</p> -->
					
						<!-- <p th:if="${cdaVehicle.getAttachment1() == null}">
							No Attachment Found
							</p> -->
							
							
							 <p>
                     <label>Approval of HOD Certificate</label> 
                     <select
                        id="CR_CDA_APROVAL" class="w3-select w3-border"
                        name="approvalofhodcerti" disabled>
                        <option id="1" disabled selected></option>
                        <option th:value="${cdaVehicle.getApprovalofhodcerti()}"
                           th:text="${cdaVehicle.getApprovalofhodcerti()}" selected hidden></option>
                        <option th:each="st : ${ApprovalHod}" th:value="${st}"
                           th:text="${st}"></option>
                     </select>
                     <span style="color: #ff0000"
                        th:if='${bindingResult != null && bindingResult.getFieldError("approvalofhodcerti")!=null}'
                        th:text='${bindingResult.getFieldError("approvalofhodcerti").getDefaultMessage()}'></span>
                  </p>
						
					</div>
				</div>
				<div class=w3-half>
					<div class="w3-container">
						<p>
							<label>Period To</label> <input style="height: 38px"
								max="9999-12-31" class="w3-input w3-border" id="CR_CDS_PRD_TO"
								type="date" data-date="" data-date-format='YYYY MM DD'
								tabindex="1" th:name="periodtoV"
								th:value="${cdaVehicle.getPeriodto()}" readonly />
						</p>
						<p th:if="${cdaVehicle.getEmployeelocation()!=0}">
							<label>Employee Location</label> 
							<select id="CR_CDA_EMP_LOCATION"
								class="w3-select w3-border" th:name="employeelocationV" disabled>
								<option value="" disabled selected></option>
								<option th:each="loc : ${location}"
									th:selected="${loc.getLocationid() eq cdaVehicle.getEmployeelocation()}"
									th:value="${loc.getLocationid()}" th:text="${loc.getName()}"></option>
							</select>
						</p>
						<p>
							<label>CDA Claim Amount</label> <input style="height: 38px"
								class="w3-input w3-border" id="CR_CDS_AMNT" type="text"
								th:name="cdaclaimamountV"
								th:value="${cdaVehicle.getCdaclaimamount()}" readonly />
						</p>
						<p>
							<label>Vehicle Allowance Amount</label> <input
								style="height: 38px" class="w3-input w3-border"
								id="CR_CDS_VHICL_AMNT" type="text"
								th:name="vehicleallowanceamountV"
								th:value="${cdaVehicle.getVehicleallowanceamount()}" readonly />
						</p>
						<!-- <p>
							<label>Attachment</label> <input style="height: 38px"
								class="w3-input w3-border" id="CR_CDS_ATTCHMENT" type="file"
								th:name="attachmentV" disabled />
							</p> -->
						<span id="DOWNLOAD_LINKsp" style="display:none" th:text="${cdaVehicle.getAttachment()}"></span>
						<p th:if="${cdaVehicle.getAttachment() != null && cdaVehicle.getAttachment() !=''}">
							<a id="DOWNLOAD_LINK" th:href="${cdaVehicle.getAttachment()}" target="_blank" download>Download Attachment</a>
							<input type="hidden" name="attachhidden1" th:value="${cdaVehicle.getAttachment()}"/>
						</p>
						<!-- <p th:if="${cdaVehicle.getAttachment() == null}">
							No Attachment Found
							</p> -->
							
							
					<span style="display:none" id="DOWNLOAD_LINK1sp" th:text="${cdaVehicle.getAttachment1()}"></span>
						<p th:if="${cdaVehicle.getAttachment1() != null && cdaVehicle.getAttachment1() !=''}">
							<a id="DOWNLOAD_LINK1" th:href="${cdaVehicle.getAttachment1()}" target="_blank" download>Download Hod Certificate Attachment</a>
							<input type="hidden" name="attachhidden2" th:value="${cdaVehicle.getAttachment1()}"/>
						</p>
					</div>
				</div>
				<div class="w3-container">
					<p>
						<input class="w3-check" id="CR_CDS_CERTIFY_V" checked="checked" disabled
							type="checkbox" th:value="Y" required> <label>I
						hereby certify that,neither I was on Leave nor on tour for more
						than 15 days consequently during the claim Period.</label>
					</p>
				</div>
				<h5 > Approval History&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-history" th:id="${cdaVehicle.getClaimid()}" aria-hidden="true" th:onclick='getapprovalhistory(7,this.id);'></i></h5>
				<section class="container" th:style="${mode == 'view'}?'display:block':'display:none'">
					<!-- in the sources container show three cards, side by side, or one atop the other on smaller viewports -->
					<div class="container__sources">
						<div style="box-shadow: none;background: none;" th:each="aprdata ,stats: ${(approverdata)}" >
							<div class="sources--cms" style="width: 160px">
								<p>Approval <label th:text='${aprdata.getApprovallevel()}'></label></p>
								<p><label th:text='${aprdata.getApproverpersonname()}'></label></p>
								<p><label th:text='${aprdata.getApprovalstatus()}'></label></p>
								<div th:if='${aprdata.getApprovalstatus() == "Approved"}' style="margin: 0;padding: 0; float:right;box-shadow: none;position: absolute;margin-top: -30px;margin-left: 124px">
									<i class="fa fa-check tick"></i>
								</div>
								<div th:if='${aprdata.getApprovalstatus()== "Submitted" or aprdata.getApprovalstatus()== "Pending"}' style="margin: 0;padding: 0; float:right;box-shadow: none;position: absolute;margin-top: -30px;margin-left: 124px">
									<i class="fa fa-clock-o pending"></i>
								</div>
								<div th:if='${aprdata.getApprovalstatus() == "Rejected"}' style="margin: 0;padding: 0; float:right;box-shadow: none;position: absolute;margin-top: -30px;margin-left: 124px">
									<i class="fa fa-close cancel"></i>
								</div>
							</div>
							<svg class="svghor" viewBox="0 10 100 100">
								<line  x1="5" x2="100" y1="80" y2="80"></line>
							</svg>
							<svg class="svgver" viewBox="0 20 100 100 ">
								<line  x1="40" x2="40" y1="0" y2="100"></line>
							</svg>
						</div>
						<div  style="background: none;margin-top: 40px;margin-left: 26px;"><i class="far fa-stop-circle" style="font-size: 58px;color: red"></i></div>
					</div>
					<!-- include a simple line to divide the container, and animate it to show a connection between the different containers  -->
				</section>
			</div>
			<!----------------------------------------------- Page Display in View Mode End Here----------------->
			<!----------------------------------------------- Page Display in Edit Mode start Here----------------->
			<!-- <div class="w3-row"
				th:style="${mode == 'edit'}?'display:block':'display:none'">  -->
			<div th:if="${cdaVehicle.getClaimid()!=0} and ${mode=='edit'}">
				<div class="w3-half w3-container">
					<p>
						<label> Period From </label><span style="color: red"> *</span>  <input style="height: 38px" tabindex="1"
							max="9999-12-31" class="w3-input w3-border"
							id="CR_CDS_PRD_FROM_ED" type="date" data-date=""
							data-date-format='YYYY MM DD' name="periodfrom"
							th:value="${cdaVehicle.getPeriodfrom()}" /> <span
							style="color: #ff0000"
							th:if='${bindingResult != null && bindingResult.getFieldError("periodfrom")!=null}'
							th:text='${bindingResult.getFieldError("periodfrom").getDefaultMessage()}'></span>
					</p>
					<!--<p>
						<label>Physical Location</label> <span style="color: red"> *</span> <input class="w3-input w3-border" tabindex="3"
							id="CR_CDS_PHY_LOCTION" type="text" th:name="physicalloaction"
							th:value="${cdaVehicle.getPhysicalloaction()}"> <span
							style="color: #ff0000"
							th:if='${bindingResult != null && bindingResult.getFieldError("physicalloaction")!=null}'
							th:text='${bindingResult.getFieldError("physicalloaction").getDefaultMessage()}'></span>
					</p>-->
					<p>
						<label>Physical Location</label><span style="color: red"> *</span>  <input class="w3-input w3-border"
							tabindex="3" id="CR_CDS_PHY_LOCTION" type="text"
							th:name="physicalloaction"
							th:value="${cdaVehicle.getPhysicalloaction()}"> <span
							style="color: #ff0000"
							th:if='${bindingResult != null && bindingResult.getFieldError("physicalloaction")!=null}'
							th:text='${bindingResult.getFieldError("physicalloaction").getDefaultMessage()}'></span>
					</p>
					<p>
						<label>Number of Days</label> <input style="height: 38px" readonly tabindex="5"
							class="w3-input w3-border" id="CR_CDS_NO_DYS_ED" type="text"
							oninput="this.value=this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1');" 
							th:name="noofdays" th:value="${cdaVehicle.getNoofdays()}" /> <span
							style="color: #ff0000"
							th:if='${bindingResult != null && bindingResult.getFieldError("noofdays")!=null}'
							th:text='${bindingResult.getFieldError("noofdays").getDefaultMessage()}'></span>
					</p>
					<p>
						<label>Number of Months</label> <input style="height: 38px" readonly tabindex="7"
							class="w3-input w3-border" id="CR_CDS_NO_MNTS_ED" type="text"
							oninput="this.value=this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1');" 
							th:name="noofmonths" th:value="${cdaVehicle.getNoofmonths()}" />
						<span style="color: #ff0000"
							th:if='${bindingResult != null && bindingResult.getFieldError("noofmonths")!=null}'
							th:text='${bindingResult.getFieldError("noofmonths").getDefaultMessage()}'></span>
					</p>
					<p>
						<label>Vehicle Used</label><span style="color: red"> *</span> 
						<select
							id="CR_CDS_NO_MNTS_ED" class="w3-select w3-border" tabindex="9"
							name="vehicleused">
							<option id="0" disabled selected></option>
							<option th:each="vec : ${Vehicalused}"
								th:selected="${vec.getDescription() eq cdaVehicle.getVehicleused()}"
								th:value="${vec.getDescription()}"
								th:text="${vec.getDescription()}"></option>
						</select>
						<span style="color: #ff0000"
							th:if='${bindingResult != null && bindingResult.getFieldError("vehicleused")!=null}'
							th:text='${bindingResult.getFieldError("vehicleused").getDefaultMessage()}'></span>
					</p>
					
					
					
					
					
					 <p>
                     <label>Approval of HOD Certificate</label> 
                     <select
                        id="CR_CDA_APROVAL" class="w3-select w3-border"
                        name="approvalofhodcerti">
                        <option id="1" disabled selected></option>
                        <option th:value="${cdaVehicle.getApprovalofhodcerti()}"
                           th:text="${cdaVehicle.getApprovalofhodcerti()}" selected hidden></option>
                        <option th:each="st : ${ApprovalHod}" th:value="${st}"
                           th:text="${st}"></option>
                     </select>
                     <span style="color: #ff0000"
                        th:if='${bindingResult != null && bindingResult.getFieldError("approvalofhodcerti")!=null}'
                        th:text='${bindingResult.getFieldError("approvalofhodcerti").getDefaultMessage()}'></span>
                  </p>
					
					
					
					
				</div>
				<div class=w3-half>
					<div class="w3-container">
						<p>
							<label>Period To</label> <span style="color: red"> *</span> <input style="height: 38px" tabindex="2"
								max="9999-12-31" class="w3-input w3-border"
								id="CR_CDS_PRD_TO_ED" type="date" data-date=""
								data-date-format='YYYY MM DD' name="periodto"
								th:value="${cdaVehicle.getPeriodto()}" /> <span
								style="color: #ff0000"
								th:if='${bindingResult != null && bindingResult.getFieldError("periodto")!=null}'
								th:text='${bindingResult.getFieldError("periodto").getDefaultMessage()}'></span>
						</p>
						<p>
							<label>Employee Location</label> <span style="color: red"> *</span> 
							<select id="CR_CDA_EMP_LOCATION" tabindex="4"
								class="w3-select w3-border" th:name="employeelocation">
								<option value="" disabled selected></option>
								<option th:each="loc : ${location}"
									th:selected="${loc.getLocationid() eq cdaVehicle.getEmployeelocation()}"
									th:value="${loc.getLocationid()}" th:text="${loc.getName()}"></option>
							</select>
							<span style="color: #ff0000"
								th:if='${bindingResult != null && bindingResult.getFieldError("employeelocation")!=null}'
								th:text='${bindingResult.getFieldError("employeelocation").getDefaultMessage()}'></span>
						</p>
						<p>
							<label>CDA Claim Amount</label> <span style="color: red"> *</span> <input style="height: 38px" tabindex="6"
								class="w3-input w3-border" id="CR_CDS_AMNT" type="text"
								oninput="this.value=this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1');" 
								th:name="cdaclaimamount"
								th:value="${cdaVehicle.getCdaclaimamount()}" /> <span
								style="color: #ff0000"
								th:if='${bindingResult != null && bindingResult.getFieldError("cdaclaimamount")!=null}'
								th:text='${bindingResult.getFieldError("cdaclaimamount").getDefaultMessage()}'></span>
						</p>
						<p>
							<label>Vehicle Allowance Amount</label> <input tabindex="8"
								style="height: 38px" class="w3-input w3-border"
								id="CR_CDS_VHICL_AMNT" type="text"
								oninput="this.value=this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1');" 
								th:name="vehicleallowanceamount"
								th:value="${cdaVehicle.getVehicleallowanceamount()}" /> <span
								style="color: #ff0000"
								th:if='${bindingResult != null && bindingResult.getFieldError("vehicleallowanceamount")!=null}'
								th:text='${bindingResult.getFieldError("vehicleallowanceamount").getDefaultMessage()}'></span>
						</p>
						<p>
						<p th:if="${cdaVehicle.getAttachment() != null}">
							<span id="DOWNLOAD_LINKsp" style="display:none" th:text="${cdaVehicle.getAttachment()}"></span>
							<a id="DOWNLOAD_LINK" th:href="${cdaVehicle.getAttachment()}" target="_blank" download>Download Attachment</a>
							<input type="hidden" name="attachhidden1" th:value="${cdaVehicle.getAttachment()}"/>
						</p>
						<!-- <p th:if="${cdaVehicle.getAttachment() == null}">No Attachment Found</p> -->
						<input type="hidden" name="filepres1" id="filepres1">
						<label>Attachment <span style="color: red"> *</span></label> <input style="height: 38px" tabindex="10"
							class="w3-input w3-border" id="CR_CDS_ATTCHMENT" type="file"
							name="file" />
						</p>
						
						
						
						
						<!--<p>
					<p th:if="${cdaVehicle.getAttachment1() != null}">
						<span id="DOWNLOAD_LINK1sp" style="display:none" th:text="${cdaVehicle.getAttachment1()}"></span>
						<a id="DOWNLOAD_LINK1" th:href="${cdaVehicle.getAttachment1()}" target="_blank" download>Download Attachment</a>
						<input type="hidden" name="attachhidden2" th:value="${cdaVehicle.getAttachment1()}"/>
					</p>
				
					<label>Approval of HOD Certificate</label> 
					<input type="hidden" name="filepres2" id="filepres2">
					<input tabindex="11"
						style="height: 38px" class="w3-input w3-border" value="yes"
						id="CR_CDS_HOD_ATCHMNT" type="file" name="file"/>
					</p>-->
					<p>
					<p th:if="${cdaVehicle.getAttachment1() != null}">
						<span id="DOWNLOAD_LINK1sp" style="display:none" th:text="${cdaVehicle.getAttachment1()}"></span>
						<a id="DOWNLOAD_LINK1" th:href="${cdaVehicle.getAttachment1()}" target="_blank" download>Download Hod Certificate Attachment</a>
						<input type="hidden" name="attachhidden2" th:value="${cdaVehicle.getAttachment1()}"/>
					</p>
				
					<label>Approval of HOD Certificate </label> 
					<input type="hidden" name="filepres2" id="filepres2">
					<input tabindex="11"
						style="height: 38px" class="w3-input w3-border" 
						id="CR_CDS_HOD_ATCHMNT-1" type="file" name="file"/>
					</p>
						
						
						
					</div>
				</div>
				<div class="w3-container">
					<p>
						<input class="w3-check" id="CR_CDS_CERTIFY_E" tabindex="12"
							type="checkbox" onclick="myFunction()" > <label>I
						hereby certify that,neither I was on Leave nor on tour for more
						than 15 days consequently during the claim Period.</label>
					</p>
				</div>
			</div>
			<!----------------------------------------------- Page Display in Edit Mode end Here----------------->
			<!----------------------------------------------- Page Display in Create Mode start Here----------------->
			<!-- <div class="w3-row"
				th:style="${cdaVehicle.getClaimid() == 0}?'display:block':'display:none'" th:if="${cdaVehicle.getClaimid()==0}">
				-->
			<div th:if="${cdaVehicle.getClaimid()==0}">
				<div class="w3-half w3-container">
					<p>
						<label> Period From </label><span style="color: red"> *</span>  <input style="height: 38px"
							tabindex="1" max="9999-12-31" class="w3-input w3-border"
							id="CR_CDS_PRD_FROM_NW" type="date" data-date=""
							data-date-format='YYYY MM DD' name="periodfrom"
							th:value="${cdaVehicle.getPeriodfrom()}" /> <span
							style="color: #ff0000"
							th:if='${bindingResult != null && bindingResult.getFieldError("periodfrom")!=null}'
							th:text='${bindingResult.getFieldError("periodfrom").getDefaultMessage()}'></span>
					</p>
					<p>
						<label>Physical Location</label><span style="color: red"> *</span>  <input class="w3-input w3-border"
							tabindex="3" id="CR_CDS_PHY_LOCTION" type="text"
							th:name="physicalloaction"
							th:value="${cdaVehicle.getPhysicalloaction()}"> <span
							style="color: #ff0000"
							th:if='${bindingResult != null && bindingResult.getFieldError("physicalloaction")!=null}'
							th:text='${bindingResult.getFieldError("physicalloaction").getDefaultMessage()}'></span>
					</p>
					<p>
						<label>Number of Days</label> <input style="height: 38px" readonly
							tabindex="5" class="w3-input w3-border" id="CR_CDS_NO_DYS_NW"
							type="text" th:name="noofdays"
							th:value="${cdaVehicle.getNoofdays()}" /> <span
							style="color: #ff0000"
							th:if='${bindingResult != null && bindingResult.getFieldError("noofdays")!=null}'
							th:text='${bindingResult.getFieldError("noofdays").getDefaultMessage()}'></span>
					</p>
					<p>
						<label>Number of Months</label>  <input style="height: 38px"
							readonly tabindex="7" class="w3-input w3-border"
							id="CR_CDS_NO_MNTS_NW" type="text" th:name="noofmonths"
							th:value="${cdaVehicle.getNoofmonths()}" /> <span
							style="color: #ff0000"
							th:if='${bindingResult != null && bindingResult.getFieldError("noofmonths")!=null}'
							th:text='${bindingResult.getFieldError("noofmonths").getDefaultMessage()}'></span>
					</p>
					<p>
						<label>Vehicle Used</label>
						<select
							tabindex="9" id="CR_CDS_NO_MNTS" class="w3-select w3-border"
							name="vehicleused">
							<option value="0" selected></option>
							<option th:each="vec : ${Vehicalused}"
								th:value="${vec.getDescription()}"
								th:text="${vec.getDescription()}"
								th:selected="${vec.getDescription() eq cdaVehicle.getVehicleused()}"></option>
						</select>
						<span style="color: #ff0000"
							th:if='${bindingResult != null && bindingResult.getFieldError("vehicleused")!=null}'
							th:text='${bindingResult.getFieldError("vehicleused").getDefaultMessage()}'></span>
					</p>
					
					 <p>
                     <label>Approval of HOD Certificate</label> <span style="color: red"> *</span> 
                     <select
                        id="CR_CDA_APROVAL" class="w3-select w3-border"
                        name="approvalofhodcerti">
                        <option id="1" disabled selected value="0"></option>
                        <option th:each="st : ${ApprovalHod}" th:value="${st}"
                           th:text="${st}" >
						</option>
                     </select>
                     <span style="color: #ff0000"
                        th:if='${bindingResult != null && bindingResult.getFieldError("approvalofhodcerti")!=null}'
                        th:text='${bindingResult.getFieldError("approvalofhodcerti").getDefaultMessage()}'></span>
                  </p>
					
					
				</div>
				<div class=w3-half>
					<div class="w3-container">
						<p>
							<label>Period To</label><span style="color: red"> *</span>  <input style="height: 38px" tabindex="2"
								max="9999-12-31" class="w3-input w3-border"
								id="CR_CDS_PRD_TO_NW" type="date" data-date=""
								data-date-format='YYYY MM DD' th:name="periodto"
								th:value="${cdaVehicle.getPeriodto()}" /> <span
								style="color: #ff0000"
								th:if='${bindingResult != null && bindingResult.getFieldError("periodto")!=null}'
								th:text='${bindingResult.getFieldError("periodto").getDefaultMessage()}'></span>
						</p>
						<p>
							<label>Employee Location</label><span style="color: red"> *</span>  
							<select id="CR_CDA_EMP_LOCATION"
								tabindex="4" class="w3-select w3-border"
								th:name="employeelocation">
								<option value="0" selected></option>
								<option th:each="loc : ${location}"
									th:value="${loc.getLocationid()}" th:text="${loc.getName()}"
									th:selected="${loc.getLocationid() eq cdaVehicle.getEmployeelocation()}"></option>
							</select>
							<span style="color: #ff0000"
								th:if='${bindingResult != null && bindingResult.getFieldError("employeelocation")!=null}'
								th:text='${bindingResult.getFieldError("employeelocation").getDefaultMessage()}'></span>
						</p>
						<p>
							<label>CDA Claim Amount</label><span style="color: red"> *</span>  <input style="height: 38px"
								tabindex="6" class="w3-input w3-border" id="CR_CDS_AMNT"
								type="text" th:name="cdaclaimamount" oninput="this.value=this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1');" 
								th:value="${cdaVehicle.getCdaclaimamount()}" /> <span
								style="color: #ff0000"
								th:if='${bindingResult != null && bindingResult.getFieldError("cdaclaimamount")!=null}'
								th:text='${bindingResult.getFieldError("cdaclaimamount").getDefaultMessage()}'></span>
						</p>
						<p>
							<label>Vehicle Allowance Amount</label><span style="color: red"> *</span>  <input tabindex="8"
								style="height: 38px" class="w3-input w3-border"
								id="CR_CDS_VHICL_AMNT" type="text" oninput="this.value=this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1');" 
								th:name="vehicleallowanceamount"
								th:value="${cdaVehicle.getVehicleallowanceamount()}" /> <span
								style="color: #ff0000"
								th:if='${bindingResult != null && bindingResult.getFieldError("vehicleallowanceamount")!=null}'
								th:text='${bindingResult.getFieldError("vehicleallowanceamount").getDefaultMessage()}'></span>
						</p>
						<p>
							<input type="hidden" name="filepres1" id="filepres1">
							<label>Attachment <span style="color: red"> *</span></label> <input style="height: 38px"
								tabindex="10" class="w3-input w3-border" id="CR_CDS_ATTCHMENT"
								type="file" name="file" />
						</p>
						<p id="my_hod_certificate" style="display:none">						
						  <a id="my_hod_certificate_link1" href="#" target="_blank" download>Download Hod Certificate Attachment</a>						
					    </p>
	
						<p>						
						<input type="hidden" name="filepres2" id="filepres2">
						<label>Approval of HOD Certificate <span style="color: red"> *</span></label> <input tabindex="11"
							style="height: 38px" class="w3-input w3-border" value="yes"
							id="CR_CDS_HOD_ATCHMNT" type="file" name="file" />
					    </p>
	
	                  
						
					</div>
				</div>
				<div class="w3-container">
					<p>
						<input class="w3-check" id="CR_CDS_CERTIFY_C" tabindex="12"
							th:name="declarationstatus" type="checkbox" th:value="Y" onclick="myFunction_C()">
						<label>I hereby certify that,neither I was on Leave nor on
						tour for more than 15 days consequently during the claim Period.</label>
					</p>
				</div>
			</div>
			<!----------------------------------------------- Page Display in Create Mode End Here----------------->
			<!-- 
				<div id="AFTER_SUBMIT_STATUS_BLOCK_BANK" class="w3-modal">
					<div class="w3-modal-content w3-card-4 w3-animate-zoom"
						style="max-width: 400px;">
						<div
							class="w3-center w3-container w3-border-top w3-padding-16 w3-light-grey">
				
				
							<label id="lblMsg" style="font-weight: bold"> </label> <a
								id="btnOK" rm="enterprisesetup/managedataset">OK</a>
				
						</div>
				
					</div>
				</div> -->
		</div>
		<!-- Telephone Reimbursement by Rajat Rawat end -->
		
		<div th:include="forms/reimbursement/approvalhistory :: fragapprovalhistory"></div>
<script type="text/javascript" src="/js/reimbursement/approvalhistory.js"></script>
		<script src="/js/reimbursement/cdaAndVehical/createCda.js"></script>
		<script src="/js/validation/validation.js"></script>
	</form>
</div>