<div th:fragment="addPayrollElement">
    <div class="w3-container" style="margin-top:14px;">
        <div class="w3-bar w3-theme-l5" style="margin-top: 16px; margin-bottom: 24px;">
            <h4 class="w3-text-theme w3-bar-item">Add Payroll Element</h4>
            <div class="buttonbarpadding w3-bar-item w3-right" style="margin-top: 3px;">
                <div id="componentAdd" onclick="ajaxPost();"
                     class="w3-bar-item w3-btn w3-blue w3-round-large buttonbarmargin" type="button"><i
                        class="fa fa-save" aria-hidden="true"></i>&nbsp;&nbsp;Save
                </div>
                <div id="cancilAddComponent" class="w3-bar-item w3-btn w3-grey w3-round-large buttonbarmargin"
                     type="button"><i class="fas fa-chevron-circle-left" aria-hidden="true"></i>&nbsp;&nbsp;Return to
                    search
                </div>
            </div>
        </div>

        <form id="createElement" enctype="application/x-www-form-urlencoded" onsubmit="return false;" method="post">
            <input th:value="${element.getElementid()}" class="w3-input w3-border" required type="text" id="elementid"
                   name="elementid" readonly hidden>
            <input th:value="${element.getElementid()}" class="w3-input w3-border" required type="text"
                   id="ElementdetailsElementId" name="elementdetails[0].elementid" readonly hidden>
            <input th:value="${element.getElementdetails().get(0).getAttributeid()}" class="w3-input w3-border" required
                   type="text" id="attributeid" name="elementdetails[0].attributeid" readonly hidden>

            <div class="w3-row-padding">
                <div class="w3-container w3-third">
                    <p>
                        <label>Name</label>
                        <input th:value="${element.getName()}" class="w3-input w3-border" required type="text" id="name"
                               name="name">
                    </p>
                </div>
                <div class="w3-container w3-third">
                    <p>
                        <label>Abbreviation</label>
                        <input th:value="${element.getAbbreviation()}" class="w3-input w3-border" required type="text"
                               id="abbreviation" name="abbreviation">
                    </p>
                </div>
                <div class="w3-container w3-third" style="display:none">
                    <p>
                        <label>Resolution Sequence</label>
                        <input th:value="${element.getResulationseq()}" class="w3-input w3-border" type="text"
                               id="resulationseq" name="resulationseq">
                    </p>
                </div>
            </div>

            <div class="w3-container">
                <div class="w3-row w3-padding w3-border">
                    <div class="w3-row-padding">
                        <div class="w3-half">
                            <p>
                                <label>Effective Start Date</label>
                                <input th:value="${element.getElementdetails().get(0).getStartdate()}"
                                       class="w3-input w3-border" type="date" id="startdate"
                                       name="elementdetails[0].startdate">
                            </p>
                            <p>
                                <label>Effective End Date</label>
                                <input th:value="${element.getElementdetails().get(0).getEnddate()}"
                                       class="w3-input w3-border" type="date" id="enddate"
                                       name="elementdetails[0].enddate">
                            </p>
                            <p>
                                <label>Element Type</label>
                                <select class="payrollElementTypeSelect w3-select" name="elementdetails[0].elementtype">
                                    <option th:value="${element.getElementdetails().get(0).getElementtype()}"
                                            th:text="${element.getElementdetails().get(0).getElementtype()}"
                                            selected></option>
                                    <option value="er">Earning</option>
                                    <option value="de">Deduction</option>
                                    <option value="re">Reimbursement</option>
                                    <option value="st">Statutory Component</option>

                                </select>
                            </p>
                            <div class="w3-half">
                                <p th:if="${element.getElementdetails().get(0).getIspaidcomponent()=='true'}">
                                    <input class="w3-check" id="ispaidcomponent2"
                                           name="elementdetails[0].ispaidcomponent" type="checkbox"
                                           checked="checked"
                                           th:value="${element.getElementdetails().get(0).getIspaidcomponent()}">
                                    <label style="color: black">&nbsp;Is Paid Component</label>
                                </p>
                                <p th:if="${element.getElementdetails().get(0).getIspaidcomponent()=='false'}">
                                    <input class="w3-check" id="ispaidcomponent3"
                                           name="elementdetails[0].ispaidcomponent" type="checkbox"
                                           th:value="true">
                                    <label style="color: black">&nbsp;Is Paid Component</label>
                                </p>
                                <p th:if="${element.getElementdetails().get(0).getIsprorated()=='true'}">
                                    <input class="w3-check" id="isprorated"
                                           name="elementdetails[0].isprorated" type="checkbox"
                                           checked="checked"
                                           th:value="${element.getElementdetails().get(0).getIsprorated()}">
                                    <label style="color: black">&nbsp;Is Prorated</label>
                                </p>
                                <p th:if="${element.getElementdetails().get(0).getIsprorated()=='false'}">
                                    <input class="w3-check" id="isprorated"
                                           name="elementdetails[0].isprorated" type="checkbox"
                                           th:value="true">
                                    <label style="color: black">&nbsp;Is Prorated</label>
                                </p>
                                <p th:if="${element.getElementdetails().get(0).getIsprorated()=='true'}">
                                    <input class="w3-check" id="isctcpart"
                                           name="elementdetails[0].isctcpart" type="checkbox"
                                           checked="checked"
                                           th:value="${element.getElementdetails().get(0).getIsctcpart()}">
                                    <label style="color: black">&nbsp;Is Part of CTC</label>
                                </p>
                                <p th:if="${element.getElementdetails().get(0).getIsprorated()=='false'}">
                                    <input class="w3-check" id="isctcpart"
                                           name="elementdetails[0].isctcpart" type="checkbox"
                                           th:value="true">
                                    <label style="color: black">&nbsp;Is Part of CTC</label>
                                </p>
                                <p th:if="${element.getElementdetails().get(0).getCreatedependent()=='true'}">
                                    <input class="w3-check" id="createdependent"
                                           name="elementdetails[0].createdependent" type="checkbox"
                                           checked="checked"
                                           th:value="${element.getElementdetails().get(0).getCreatedependent()}">
                                    <label style="color: black">&nbsp;Create Dependent Component</label>
                                </p>
                                <p th:if="${element.getElementdetails().get(0).getCreatedependent()=='false'}">
                                    <input class="w3-check" id="createdependent"
                                           name="elementdetails[0].createdependent" type="checkbox"
                                           th:value="true">
                                    <label style="color: black">&nbsp;Create Dependent Component</label>
                                </p>
                                <p th:if="${element.getElementdetails().get(0).getIsactive()=='Y'}">
                                    <input class="w3-check" id="isactive"
                                           name="elementdetails[0].isactive" type="checkbox"
                                           checked="checked"
                                           th:value="${element.getElementdetails().get(0).getIsactive()}">
                                    <label style="color: black">&nbsp;Active</label>
                                </p>
                                <p th:if="${element.getElementdetails().get(0).getIsactive()=='N'}">
                                    <input class="w3-check" id="isactive"
                                           name="elementdetails[0].isactive" type="checkbox"
                                           th:value="Y">
                                    <label style="color: black">&nbsp;Active</label>
                                </p>
                            </div>
                            <div class="w3-half">
                                <p th:if="${element.getElementdetails().get(0).getIsarr()=='true'}">
                                    <input class="w3-check" id="isarrearr"
                                           name="elementdetails[0].isarr" type="checkbox"
                                           checked="checked"
                                           th:value="${element.getElementdetails().get(0).getIsarr()}">
                                    <label style="color: black">&nbsp;Is Arrear Element</label>
                                </p>
                                <p th:if="${element.getElementdetails().get(0).getIsarr()=='false'}">
                                    <input class="w3-check" id="isarrearr"
                                           name="elementdetails[0].isarr" type="checkbox"
                                           th:value="true">
                                    <label style="color: black">&nbsp;Is Arrear Element</label>
                                </p>
                                <p th:if="${element.getElementdetails().get(0).getAttributeid()==0}">
                                    <label>Maintained By</label>
                                    <select class="w3-select w3-border" name="elementdetails[0].maintainby">
                                        <option></option>
                                        <option value="SYS">System</option>
                                        <option value="CUS">Custom</option>

                                    </select>
                                </p>
                                <p th:if="${element.getElementdetails().get(0).getAttributeid()!=0}">
                                    <label>Maintained By</label>
                                    <select class="w3-select w3-border" name="elementdetails[0].maintainby">
                                        <option></option>
                                        <option th:value="${element.getElementdetails().get(0).getMaintainby()}"
                                                th:text="${element.getElementdetails().get(0).getMaintainby()}"
                                                selected></option>
                                        <option value="SYS">System</option>
                                        <option value="CUS">Custom</option>
                                    </select>
                                </p>
                            </div>
                        </div>
                        <div class="w3-half">
                            <p>
                            <div th:if="${element.getElementdetails().get(0).getAttributeid()==0}">
                                <label>Tax Status</label><br>
                                <input type="radio" id="taxable" value="taxable" name="elementdetails[0].taxability">
                                <label>Tax Status</label><br>
                                <input type="radio" id="nontaxable" value="nontaxable"
                                       name="elementdetails[0].taxability" checked>
                                <label style="color: black">Non Taxable</label><br>
                            </div>
                            <div th:if="${element.getElementdetails().get(0).getTaxability()=='taxable'}">
                                <label>Tax Status</label><br>
                                <input type="radio" id="taxable" value="taxable" name="elementdetails[0].taxability"
                                       checked>
                                <label>Tax Status</label><br>
                                <input type="radio" id="nontaxable" value="nontaxable"
                                       name="elementdetails[0].taxability">
                                <label style="color: black">Non Taxable</label><br>
                            </div>
                            <div th:if="${element.getElementdetails().get(0).getTaxability()=='nontaxable'}">
                                <label>Tax Status</label><br>
                                <input type="radio" id="taxable" value="taxable" name="elementdetails[0].taxability">
                                <label>Tax Status</label><br>
                                <input type="radio" id="nontaxable" value="nontaxable"
                                       name="elementdetails[0].taxability" checked>
                                <label style="color: black">Non Taxable</label><br>
                            </div>
                            </p>
                            <p th:if="${element.getElementdetails().get(0).getIstaxdistribution()=='true'}">
                                <input class="w3-check" id="taxdistribution2"
                                       name="elementdetails[0].istaxdistribution" type="checkbox"
                                       checked="checked"
                                       th:value="${element.getElementdetails().get(0).getIstaxdistribution()}">
                                <label style="color: black">Tax is distributed across the year</label>
                            </p>
                            <p th:if="${element.getElementdetails().get(0).getIstaxdistribution()=='false'}">
                                <input class="w3-check" id="taxdistribution3"
                                       name="elementdetails[0].istaxdistribution" type="checkbox"
                                       value="true">
                                <label style="color: black">Tax is distributed across the year</label>
                            </p>
                            <div th:if="${element.getElementdetails().get(0).getAttributeid()==0}">
                                <label>Component Type</label><br>
                                <input type="radio" id="variablecomp" value="variable"
                                       name="elementdetails[0].componenttype">
                                <label style="color: black">Variable Component</label><br>
                                <input type="radio" id="fixedcomp" value="fixed" name="elementdetails[0].componenttype"
                                       checked>
                                <label style="color: black">Fixed Component</label>
                            </div>
                            <div th:if="${element.getElementdetails().get(0).getComponenttype()=='variable'}">
                                <label>Component Type</label><br>
                                <input type="radio" id="variablecomp" value="variable"
                                       name="elementdetails[0].componenttype" checked>
                                <label style="color: black">Variable Component</label><br>
                                <input type="radio" id="fixedcomp" value="fixed" name="elementdetails[0].componenttype">
                                <label style="color: black">Fixed Component</label>
                            </div>
                            <div th:if="${element.getElementdetails().get(0).getComponenttype()=='fixed'}">
                                <label>Component Type</label><br>
                                <input type="radio" id="variablecomp" value="variable"
                                       name="elementdetails[0].componenttype">
                                <label style="color: black">Variable Component</label><br>
                                <input type="radio" id="fixedcomp" value="fixed" name="elementdetails[0].componenttype"
                                       checked>
                                <label style="color: black">Fixed Component</label>
                            </div>
                            <p th:if="${element.getElementdetails().get(0).getAttributeid()==0}">
                                <label>Calculation Type</label>
                                <select class="w3-select w3-border" name="elementdetails[0].caltype">
                                    <option></option>
                                    <option value="FLT">Flat</option>
                                    <option value="FRM">Formula</option>
                                </select>
                            </p>
                            <p th:if="${element.getElementdetails().get(0).getAttributeid()!=0}">
                                <label>Calculation Type</label>
                                <select class="w3-select w3-border" name="elementdetails[0].caltype">
                                    <option></option>
                                    <option th:value="${element.getElementdetails().get(0).getCaltype()}"
                                            th:text="${element.getElementdetails().get(0).getCaltype()}"
                                            selected></option>
                                    <option value="FLT">Flat</option>
                                    <option value="FRM">Formula</option>
                                </select>
                            </p>
                            <p>
                                <label>Value/Formula</label>
                                <textarea class="w3-input w3-border" rows="5" style="resize: none"
                                          name="elementdetails[0].formula"
                                          th:text="${element.getElementdetails().get(0).getFormula()}"
                                ></textarea>
                                <!--calculationFunction-->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="/js/payroll/setup/addPayrollElement.js"></script>
</div>