<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="searchPayrollCalendar">
    <div class="w3-container" style="margin-top:26px;">
        <div class="w3-bar w3-theme-l5">
            <h4 class="w3-bar-item w3-text-theme" style="padding-top: 0px; padding-bottom: 0px;"><i class="fas fa-tasks"></i>&nbsp;&nbsp;Manage Pay Calendars</h4>
        </div>
        <p class="w3-bar-item" style="margin-top: 0px;">Enter any information you have and click search. Leave fields blank for a list of all values.</p>
    </div>

    <div class="w3-row">
        <div class="w3-third" style="border-right: 2px solid black">
            <form class="w3-container">
                <div class="divTable">
                    <div class="divTr">
                        <div class="d1"><h5 style="margin-bottom: 0px; margin-bottom: 0px; font-weight: bold;">Find an existing value</h5></div>
                        <div class="d2">
                            <span class="w3-button w3-circle w3-theme w3-large" onclick="openAddPayCalendar()">+</span>
                        </div>
                    </div>
                </div>
                <hr class="hrline">
                <h6 style="margin-bottom: 18px; color: chocolate">Search Criteria</h6>
                <select id="paygroupSelect" class="w3-select w3-border" name="paygroupSelect">
                    <option value="" selected disabled>--Select Paygroup--</option>
                    <span th:each="paygroup : ${payGroups}">
                        <option th:value="${paygroup.paygroupid}" th:text="${paygroup.name}"></option>
                    </span>
                </select>
                <p>
                    <div onclick="calendarSearch()" class="w3-btn w3-blue w3-round-large" type="button"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;Search</div>
                </p>
            </form>
        </div>

        <div class="w3-twothird w3-container">
            <h5 style="margin-bottom: 0px; margin-bottom: 0px; font-weight: bold;">Search Results</h5>
            <div id="resultSec" class="w3-responsive" style="display: none">
                <table id="payCalanderList" class="display compact w3-table" style="width: 100%;">
                    <thead>
                    <tr class="w3-theme-d3">
                        <th>Payroll Group Name</th>
                        <th>Calendar Code</th>
                        <th>Calendar Period</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Days</th>
                        <th>Emp Select Type</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div  id="noData" class="w3-responsive" style="display: none">
                <div>
                    <p>No record found...</p>
                </div>
            </div>
            <div  id="jsonLoader" class="w3-responsive" style="display: none">
                <div>
                    <div class='w3-container' style='width: 100%; text-align: center'>
                        <i class='fa fa-cog fa-spin' style='font-size: 30px;'></i>
                        <p style="color: black;">Loading......</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="addNewCalendar" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom">
            <header class="w3-container w3-theme-d1">
                <span onclick="document.getElementById('addNewCalendar').style.display='none';" class="w3-button w3-display-topright">&times;</span>
                <h4><i class="far fa-calendar-alt"></i>&nbsp;&nbsp;Add New Calendar</h4>
            </header><br>
            <form id="addCalendar" enctype="application/x-www-form-urlencoded" onsubmit="return false;" method="POST">
                <div class="w3-container">
                    <div class="w3-row-padding">
                        <div class="w3-half">
                            <input type="hidden" name="paygroupid">
                            <input type="hidden" name="groupname">
                            <input type="hidden" name="status">
                            <input type="hidden" name="createdby">
                            <p>
                                <label>Calendar Code</label>
                                <input class="w3-input w3-border" type="text" name="calendarcode">
                            </p>
                        </div>
                        <div class="w3-half">
                            <p>
                                <label>Financial Year</label>
                                <select class="w3-select w3-border" name="financialyear">
                                    <option value="" disabled selected></option>
                                    <option th:each="fin: ${finyear}"
                                            th:value="${fin.getYears()}"
                                            th:text="${fin.getYears()}" />
                                </select>
                            </p>
                        </div>
                    </div>
                    <div class="w3-row-padding">
                        <div class="w3-quarter">
                            <p>
                                <label>Period Number</label>
                                <input class="w3-input w3-border" min="1" type="number" name="calendarperiod">
                            </p>
                        </div>
                        <div class="w3-quarter">
                            <p>
                                <label>Start Date</label>
                                <input id="startdate" class="w3-input w3-border" type="date" name="startdate">
                            </p>
                        </div>
                        <div class="w3-quarter">
                            <p>
                                <label>End Date</label>
                                <input id="enddate" class="w3-input w3-border" type="date" name="enddate">
                            </p>
                        </div>
                        <div class="w3-quarter">
                            <p>
                                <label>Days Count</label>
                                <input id="days" class="w3-input w3-border" style="text-align: center" type="text" name="days">
                            </p>
                        </div>
                    </div>
                    <div class="w3-row-padding" style="margin-left: 8px; margin-right: 8px; margin-bottom: 16px;">
                        <label>Employee Selection Criteria</label>
                        <div class="w3-container w3-padding w3-border">
                            <div class="w3-quarter">
                                <input type="radio" name="selecttype" value="ACT">&nbsp;&nbsp;<label>Active Employees</label>
                            </div>
                            <div class="w3-quarter">
                                <input type="radio" name="selecttype" value="RET">&nbsp;&nbsp;<label>Retired Employees</label>
                            </div>
                            <div class="w3-quarter">
                                <input type="radio" name="selecttype" value="ADH">&nbsp;&nbsp;<label>Ad-hock Selection</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w3-container w3-light-grey w3-padding">
                    <button class="w3-button w3-right w3-border" style="background-color: #fbe1e1;" onclick="document.getElementById('addNewCalendar').style.display='none';"><i class="fa fa-times" style="color: red;"></i>&nbsp;&nbsp;Cancel</button>
                    <button class="w3-button w3-right w3-border" style="background-color: #d7f9d7; margin-right: 8px;" onclick="saveCalendar()"><i class="fa fa-save" style="color: green;"></i>&nbsp;&nbsp;Save</button>
                </div>
            </form>
        </div>
    </div>

    <div id="viewCalendar" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom">
            <header class="w3-container w3-theme-d1">
                <span onclick="document.getElementById('viewCalendar').style.display='none';" class="w3-button w3-display-topright">&times;</span>
                <h4><i class="far fa-calendar-alt"></i>&nbsp;&nbsp;Calendar Details</h4>
            </header><br>
                <div class="w3-container">
                    <div class="w3-row-padding">
                        <div class="w3-half">
                            <input type="hidden" id="vpaygroupid">
                            <input type="hidden" id="vgroupname">
                            <input type="hidden" id="vstatus">
                            <input type="hidden" id="vcreatedby">
                            <p>
                                <label>Calendar Code</label>
                                <input class="w3-input w3-border" type="text" id="vcalendarcode">
                            </p>
                        </div>
                        <div class="w3-half">
                            <p>
                                <label>Financial Year</label>
                                <select class="w3-select w3-border" id="vfinancialyear">
                                    <option id="1" value="" selected></option>
                                </select>
                            </p>
                        </div>
                    </div>
                    <div class="w3-row-padding">
                        <div class="w3-quarter">
                            <p>
                                <label>Period Number</label>
                                <input class="w3-input w3-border" min="1" type="number" id="vcalendarperiod">
                            </p>
                        </div>
                        <div class="w3-quarter">
                            <p>
                                <label>Start Date</label>
                                <input class="w3-input w3-border" type="date" id="vstartdate">
                            </p>
                        </div>
                        <div class="w3-quarter">
                            <p>
                                <label>End Date</label>
                                <input class="w3-input w3-border" type="date" id="venddate">
                            </p>
                        </div>
                        <div class="w3-quarter">
                            <p>
                                <label>Days Count</label>
                                <input class="w3-input w3-border" style="text-align: center" type="text" id="vdays">
                            </p>
                        </div>
                    </div>
                    <div class="w3-row-padding" style="margin-left: 8px; margin-right: 8px; margin-bottom: 16px;">
                        <label>Employee Selection Criteria</label>
                        <div class="w3-container w3-padding w3-border">
                            <div class="w3-quarter">
                                <input type="radio" id="ACT" name="vselecttype" value="ACT">&nbsp;&nbsp;<label>Active Employees</label>
                            </div>
                            <div class="w3-quarter">
                                <input type="radio" id="RET" name="vselecttype" value="RET">&nbsp;&nbsp;<label>Retired Employees</label>
                            </div>
                            <div class="w3-quarter">
                                <input type="radio" id="ADH" name="vselecttype" value="ADH">&nbsp;&nbsp;<label>Ad-hock Selection</label>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>


    <script src="/js/payroll/setup/searchPayrollCalendar.js"></script>
</div>
</body>
</html>