<div th:fragment="searchBankAccount">
	<div class="w3-main"
		style="margin-left: 300px; margin-top: -14px; margin-bottom: 16px;">
		<div style="position: relative;">
			<div class="w3-container w3-margin-bottom">
				<h4 style="font-weight: 400;">
					<img onclick="w3_open()" class="w3-hide-large"
						src="/images/hide-grader-panel.png" style="cursor: pointer;">
					<i class="fas fa-university" style="color: #027b7b;"></i> &nbsp;Bank Info
					
				</h4>
			</div>
		</div>

		<div id="fragmaent_container"
			th:include="forms/reimbursement/header :: header"></div>
		<!-- Ctg Search by Rajat Rawat start-->
		<div class="w3-bar w3-theme-l3">
			<h5 class="w3-bar-item">My Bank Accounts</h5>

		</div>
		<div class="w3-container w3-margin-top">

			<!--
	       	<div class="w3-container w3-row" >
	       		<div class="w3-padding">
					<div class="w3-row">
						 <div class="w3-quarter w3-padding" style="margin-right:7%">
							<div class="w3-container">
								<img src="/images/avatar.png" width="150px" height="150px">
							</div>
						</div> 
						<div class="w3-rest w3-padding">
							<div class="w3-half">
								<div class="w3-container">
									<p>
										<strong><label>Employee Number: &nbsp;&nbsp;</label></strong>
										<label th:text="${personInfo.getPersonnumber()}"></label>
									</p>
									<p>
										<strong><label>Employee Name: &nbsp;&nbsp;</label></strong>
										<label  th:text="${personInfo.getPersonname()}"></label>
									</p>
									<p>
										<strong><label>Date of Birth: &nbsp;&nbsp;</label></strong>
										<label th:text="${personInfo.getDateofbirth()}"></label>
									</p>
									<p>
										<strong><label>Email ID: &nbsp;&nbsp;</label></strong>
										<label th:text="${personInfo.getEmailaid()}"></label>
									</p>
									<p>
										<strong><label>Phone Number: &nbsp;&nbsp;</label></strong>
										<label th:text="${personInfo.getPhonenumber()}"></label>
									</p>			
									<p>
										<strong><label>Employee Type: &nbsp;&nbsp;</label></strong>
										<label th:text="${personInfo.getEmployeetype()}"></label>
									</p>					
								</div>
							</div> 
							<div class="w3-half">
								<div class="w3-container">
									<p>
										<strong><label>Designation: &nbsp;&nbsp;</label></strong>
										<label th:text="${personInfo.getDesignation()}"></label>
									</p>					
									<p>
										<strong><label>Base Location: &nbsp;&nbsp;</label></strong>
										<label th:text="${personInfo.getBaselocation()}"></label>
									</p>			
									<p>
										<strong><label>Work Location: &nbsp;&nbsp;</label></strong>
										<label th:text="${personInfo.getWorklocation()}"></label>
									</p>
									<p>
										<strong><label>Joining Date: &nbsp;&nbsp;</label></strong>
										<label th:text="${personInfo.getJoiningdate()}"></label>
									</p>
									<p>
										<strong><label>Vehicle Used: &nbsp;&nbsp;</label></strong>
										<label th:text="${personInfo.getVehicleused()}"></label>
									</p>
								</div>
							</div> 
						</div>
						
					</div>
				</div>
	       	</div>-->

			<div class="w3-row">
				<div class="w3-full ">
					<div class="w3-container">
						<div id="resultSec" class="w3-responsive">
							<table id="BankList" class="w3-table-all"
								style="text-align: center;">
								<thead>
									<tr>
										<th>Account No</th>
										<th>Account Holder</th>
										<th>IFSC Code</th>
										<th>Account Type</th>
										<th>View</th>

									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>


				<div id="noDataBank">
					<span>No record found...</span>					
				</div>
			</div>
             <script src="/js/datatables.min.js"></script>
			<script src="/js/search/BankAccountSearch.js"></script>
		</div>
	</div>