<div th:fragment="medicalReimbursementSearch">
    <div class="w3-main" style="margin-left: 300px; margin-top: -14px; margin-bottom:16px;">
		<div style="position: relative;">
			<div class="w3-container">
				<h4 style="font-weight: 400;">
					<img onclick="w3_open()" class="w3-hide-large" src="/images/hide-grader-panel.png"
						style="cursor: pointer;">  
                        <i class="fa fa-pills" style="color: #f79b7c;"></i>
                        &nbsp;Medical Reimbursement
                    </h4>
                </div>
            </div>
        <!-- Medical Reimbursement Snigdhaa Vaish start -->
		<div class="w3-padding">
			<div id="fragmaent_container" th:include="forms/reimbursement/header :: header"></div>	
	 		<div class="w3-bar w3-theme-l3">
				<h5 class="w3-bar-item">Previous Claims</h5>
				<div id="addbtn" onclick="addBtnClick()" class="w3-bar-item w3-btn w3-blue w3-round-large w3-right buttonbarmargin" style="margin-top:8px;"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Raise New Request</div>
			</div>
		
	        <!-- <div class="w3-container w3-row" style="padding-top:2%">
	        	<div class="w3-container w3-threequarter">
		        	<h5 class="w3-text-theme" style="font-weight: bold; margin-top: 2px; bottom: 2px;">
						Find Existing Elements
					</h5>				
				</div>					
				<div class="w3-container w3-quarter">
					<button class="w3-button w3-theme w3-right" id="addbtn" onclick="addBtnClick()">
						<i class="fas fa-plus"></i>
					</button>
				</div>
	        </div>
	        <hr class="hrline">	
			<div class="w3-container w3-row" >
	       		<div class="w3-padding">
					<div class="w3-row">
						<div class="w3-quarter w3-padding" style="margin-right:7%">
							<div class="w3-container">
								<img src="/images/avatar.png" width="150px" height="150px">
							</div>
						</div>
						<div class="w3-rest w3-padding">
							<div class="w3-half">
								<div class="w3-container">
									<p>
										<strong><label>Employee Number: &nbsp;&nbsp;</label></strong>
										<label th:text="${personInfo.getPersonnumber()}"></label>
									</p>
									<p>
										<strong><label>Employee Name: &nbsp;&nbsp;</label></strong>
										<label  th:text="${personInfo.getPersonname()}">990</label>
									</p>
									<p>
										<strong><label>Date of Birth: &nbsp;&nbsp;</label></strong>
										<label th:text="${personInfo.getDateofbirth()}">990</label>
									</p>
									<p>
										<strong><label>Email ID: &nbsp;&nbsp;</label></strong>
										<label th:text="${personInfo.getEmailaid()}">990</label>
									</p>
									<p>
										<strong><label>Phone Number: &nbsp;&nbsp;</label></strong>
										<label th:text="${personInfo.getPhonenumber()}">990</label>
									</p>			
									<p>
										<strong><label>Employee Type: &nbsp;&nbsp;</label></strong>
										<label th:text="${personInfo.getEmployeetype()}">990</label>
									</p>					
								</div>
							</div>
							<div class="w3-half">
								<div class="w3-container">
									<p>
										<strong><label>Designation: &nbsp;&nbsp;</label></strong>
										<label th:text="${personInfo.getDesignation()}">990</label>
									</p>					
									<p>
										<strong><label>Base Location: &nbsp;&nbsp;</label></strong>
										<label th:text="${personInfo.getBaselocation()}">990</label>
									</p>			
									<p>
										<strong><label>Work Location: &nbsp;&nbsp;</label></strong>
										<label th:text="${personInfo.getWorklocation()}">990</label>
									</p>
									<p>
										<strong><label>Joining Date: &nbsp;&nbsp;</label></strong>
										<label th:text="${personInfo.getJoiningdate()}">990</label>
									</p>
									<p>
										<strong><label>Vehicle Used: &nbsp;&nbsp;</label></strong>
										<label th:text="${personInfo.getVehicleused()}">990</label>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
	       	</div> -->
	       	<div class="w3-full w3-container w3-row" style="margin-top:10px">
	       		<div id="resultMedReim" class="w3-responsive">
		        	<table class="w3-table-all" id="searchtable" style="width:100%">
		        		<thead>
		        			<th style="text-align: center;">Claim ID</th>		        		
		        			<th style="text-align: center;">Date</th>
		        			<th style="text-align: center;">Amount Claimed</th>
		        			<th style="text-align: center;">Amount Approved</th>
		        			<th style="text-align: center;">Status</th>
		        			<th style="text-align: center;">View</th>
		        			<th style="text-align: center;">Edit</th>					
		        		</thead>        		
		        	</table>
		        </div>
	        	<div id="noMedReimData" style="display:none;margin-top:10px">
	        		<p>No Results Found...</p>
	        	</div>	        	    	  
			</div>			
		</div>	       	                  
        <!-- Medical Reimbursement Snigdhaa Vaish end -->
	</div>
	<script src="/js/reimbursement/medicalReimbursement/medicalreimbsearch.js"></script>
</div>
