<div th:fragment="createGrade">
  <form  method="post" id="GRADE_DETAILS" enctype="application/x-www-form-urlencoded" onsubmit="return false;">  
		<div class="w3-container" style="margin-top:14px;">
		<h3 class="w3-text-theme" style="margin-top:2px; bottom:2px; ">Create Grade</h3>
		<div class="w3-bar w3-border" >
		<button  class="w3-bar-item w3-button tablink w3-theme" onclick="openTab2(event,'GRADE_DETAILS');" >Grade Details</button>
		<button  class="w3-bar-item w3-button tablink " onclick="openTab1(event,'GRADE_STEPS');" >Grade Steps</button>
			<div id="FRAG" th:include="fragments/enterprise/create/createGrade:: GRADE_DETAIL">
			</div>
			</div>
		</div>
		<script src="/js/search/searchGrades.js"></script>
	</form>
 </div> 
		<div  th:fragment="GRADE_DETAIL">
		<div class="w3-row">
		<hr style="margin-top:0;">
		<input value="" id="cmd" name="cmd" hidden>
		<div class=w3-half>
		<div class="w3-container" >
			<p>
			<label>Effective Start Date</label> 
			<input th:value="${grades.getEffectstartdate()}" max="9999-12-31" class="w3-input w3-border" name="effectstartdate" id="CR_GRADE_EFFDT" type="date" data-date="" data-date-format="YYYY MM DD"/>
			</p>
			<p th:if="${grades.getDatasets()==null}">
			<label>Grade Set</label> 
			 <select id="CR_GRADE_SET" class="w3-select w3-border" name="datasets" >
	 			  <option value="" disabled selected></option>
				  <option th:each="datasetlist : ${datasetlist}" th:value="${datasetlist.getDatasetsid()}" th:text="${datasetlist.getName()}">
			  </select>
			</p>
			<p th:if="${grades.getDatasets()!=null}">
			<label>Grade Set</label> 
			 <select id="CR_GRADE_SET" class="w3-select w3-border" name="datasets" >
				  <option th:each="datasetlist : ${datasetlist}" th:selected="${grades.getDatasets() eq datasetlist.getDatasetsid()}" th:value="${datasetlist.getDatasetsid()}" th:text="${datasetlist.getName()}">
			  </select>
			</p>
			<p>
			<label>Name</label>
			<input th:value="${grades.getName()}" class="w3-input w3-border" name="name" id="CR_GRADE_NAME" type="text">
			</p>
		</div>
		</div>
		<div class=w3-half>
		<div class="w3-container" >
			<p>
			<label>Code</label>
			<input th:value="${grades.getCode()}"class="w3-input w3-border" name="code" id="CR_GRADE_CODE" type="text">
			</p>
			<p th:if="${grades.getStatus()==null}">
			<label>Status</label> 
			<select id="CR_GRADE_STATUS" class="w3-select w3-border" name="status">
			<option value="" disabled selected></option>
			<option th:each="status : ${status}" th:value="${status}" th:text="${status}">
			</select>
			</p>
			<p th:if="${grades.getStatus()!=null}">
			<label>Status</label> 
			<select id="CR_GRADE_STATUS" class="w3-select w3-border" name="status">
			<option th:each="status : ${status}" th:selected="${grades.getStatus() eq status}" th:value="${status}" th:text="${status}">
			</select>
			</p>
		</div>	
		</div>
		<div class="w3-container">
			<p>
			<input type="button" class="w3-button w3-theme w3-grey"
					onclick="sendHireData('GRADE_STEPS')" value="Next">
			</p>
		</div>
		</div>
		<script src="/js/search/searchGrades.js"></script>
		</div>
	<!--****************************************************************************************-->
		<div  th:fragment="GRADE_STEPS">
		<input type="hidden" value="" id="cmd" name="cmd">
		<div class="w3-row">
		<hr style="margin-top:0;">
		<input value="" id="cmd" name="cmd" hidden>
		<div class=w3-half>
		<div class="w3-container" >
			<p>
			<label>Effective Start Date</label> 
			<input th:value="${grades.getEffectstartdate()}"  class="w3-input w3-border"  id="CR_GRADE_EFFDT_DISP" type="date" data-date="" data-date-format="YYYY MM DD" disabled/>
			</p>
		 </div>
		 </div>
		<div class=w3-half>
		<div class="w3-container" >
			<p>
			<label>Grade Set</label> 
			 <select class="w3-select w3-border" disabled>
			  <option th:each="datasetlist : ${datasetlist}" th:selected="${grades.getDatasets() eq datasetlist.getDatasetsid()}" th:value="${datasetlist.getDatasetsid()}" th:text="${datasetlist.getName()}">
			 </select>
		 	 </p>
		 </div>
		 </div>
		<div class="w3-container">
		<h5 class="w3-text-theme" style="margin-top:2px; bottom:2px; display:inline-block">Grade Steps</h5>
				<div class="w3-padding w3-border">
				<p>
				<label>View</label> 
				<button id="VIEW_BTN" class="w3-button w3-white w3-small">^</button> 
				<label>Format</label> 
				<button id="FORMAT_BTN" class="w3-button w3-white w3-small">^</button> 
				</p>
			<div>
				<table id="GRADE_STEP_TBL" class="display compact w3-table" style="width: 100%;">
					<thead>
										<th style="text-align:center;">Step Number<span style="color:red"> *</span></th>
										<th style="text-align:center;">Step Name<span style="color:red"> *</span></th>
										<th style="text-align:center;">Step Amount<span style="color:red"> *</span></th>
										<th></th>
										<th></th>
									</thead>
					<tbody>
										<tr>
											<td style="width:10%">
											<input value="" class="w3-input w3-border" name="gradesteps[0].stepno" type="text" >
											</td>
											<td style="width:40%">
											<input value="" class="w3-input w3-border" name="gradesteps[0].stepname" type="text" >
											</td>
											<td style="width:40%">
											<input value="" class="w3-input w3-border" name="gradesteps[0].stepamount" type="text" >
											</td>
											<td style="width:5%">
												<input class="w3-btn  w3-theme"   type="button" value="+" onclick="addRowNowGRADE();"/>
											</td>
											<td style="width:5%">
												<input class="w3-btn  w3-theme" type="button" value="x" onclick="delThisRowGRADE();"/>
											</td>
										</tr>
									</tbody>
				</table>
			</div>
				</div>
		</div>
	<div class="w3-container">
		<p>
		<input type="button" class="w3-button w3-theme w3-grey"
					onclick="sendHireData('GRADE_DETAIL')" value="Previous">
		<button onclick="ajaxPost();" class="w3-button w3-theme " style="margin-left:15px">Submit</button>	
		</p>
	</div>
	</div>
	<script src="/js/search/searchGrades.js"></script>
	</div>