<div th:fragment="createlegaladdress">
<div class="w3-container" style="margin-top:14px;">
		<h4 class="w3-text-theme" style="margin-top:2px; bottom:2px; ">Create Legal Address</h4>
		</div>
		<div class="w3-row">
	<div class=w3-half>
	<div class="w3-container">
			<hr class="hrline">
			<h5 style="font-weight: bold">
								Legal Address Details
							</h5>
				 <input th:value="${LegalAddress.getActionid()}" id="txtLegalActionid" type="text" hidden/>
						 <input	th:value="${LegalAddress.getLegaladdressid()}" id="txtLegaladdressid"  type="text" hidden/> 
			<p>
			<label>Address Line1</label><span style="color:red"> *</span>
			<input th:value="${LegalAddress.getAddressline1()}" class="w3-input w3-border" name="addressLine1" id="CR_LA_ADDR1" type="text" tabindex="1">
			<span id="LA_ADDR_ERROR" style="color:red"></span>
			</p>
			<p>
			<label>Address Line2</label>
			<input th:value="${LegalAddress.getAddressline2()}" class="w3-input w3-border" name="addressLine2" id="CR_LA_ADDR2" type="text" tabindex="3">
			</p>
			<p>
			<label>Address Line3</label>
			<input value="" th:value="${LegalAddress.getAddressline3()}" class="w3-input w3-border" name="addressLine3" id="CR_LA_ADDR3" type="text" tabindex="5">
			</p>
		
			<p th:if="${LegalAddress.getLegaladdressid()!=0}">
					<label>Country</label><span style="color:red"> *</span> <select id="countryList"
						class="w3-select w3-border" name="option"  tabindex="7">
						<option value="" disabled selected></option>
						<option th:each="Countrydetails : ${Countrydetails}"
						th:selected="${Countrydetails.getId() eq LegalAddress.getCountry()}"
							th:value="${Countrydetails.getId()}"
							th:text="${Countrydetails.getDescription()}">
					</select>
					<span id="LA_COUNTRY_ERROR" style="color:red"></span>
				</p>
				<p th:if="${LegalAddress.getLegaladdressid()==0}" >
				<label>Country</label><span style="color:red"> *</span> <select id="countryList"
						class="w3-select w3-border" name="option" tabindex="7">
						<option value="" disabled selected></option>
						<option th:each="CountryDetails : ${CountryDetails}"
						 th:value="${CountryDetails.getId()}" th:text="${CountryDetails.getDescription()}">
					</select>
					<span id="LA_COUNTRY_ERROR" style="color:red"></span>
				</p>
				<p th:if="${LegalAddress.getState()!=''}">
				<div id="divState">
					<p>
						<label>State</label> <select tabindex="6" id="stateList"
							class="w3-select w3-border" name="option">
							<option value="" disabled selected></option>
							<option th:each="StateDetails : ${StateDetails}"
								th:value="${StateDetails.getId()}"
								th:text="${StateDetails.getDescription()}"
								th:selected="${StateDetails.getId() eq LegalAddress.getState()}">
						</select>
					</p>
				</div>
				
				<div id="divState">
				</div>
		</div>
	</div>
	<div class=w3-half>
	<div class="w3-container" style="margin-top:43px;">
				<p th:if="${LegalAddress.getLegaladdressid()!=0}">
				<label>Status</label><span style="color:red"> *</span>
				<select id="statusList" class="w3-select w3-border" name="status" style="height:42px" tabindex="2">
						<option th:each="status : ${status}" th:selected="${LegalAddress.getStatus() eq status.getDescription()}" th:value="${status}" th:text="${status}">
				</select>
				<span id="LA_STATUS_ERROR" style="color:red"></span>
				</p>	
				<p th:if="${LegalAddress.getLegaladdressid()==0}">
				<label>Status</label><span style="color:red"> *</span>
					<select id="statusList" class="w3-select w3-border" name="option" style="height:42px" tabindex="2">
						<option th:each="st : ${status}" th:selected="${st == 'Active'}" th:value="${st}" th:text="${st}">
					</select>
					<span id="LA_STATUS_ERROR" style="color:red"></span>
				</p>
			<p>
			<label>City</label>
			  <input th:value="${LegalAddress.getCitytown()}"class="w3-input w3-border" name="City" id="CR_LA_CITY" type="text" tabindex="4">
			<span id="LA_CITY_ERROR" style="color:red"></span>
			</p>
			<p>
			<label>PinCode</label><span style="color:red"> *</span>
			  <input  th:value="${LegalAddress.getPincode()}" class="w3-input w3-border" name="pincode" id="CR_LA_PIN" type="text" tabindex="6">
			<span id="LA_PIN_ERROR" style="color:red"></span>
			</p>
			<div id="Divtimezone">
			 <p th:if="${LegalAddress.getLegaladdressid()!=0}">
					<label>Time Zone</label>
						<select id="timezone" class="w3-select w3-border" name="option" tabindex="8">
							<option value="" disabled selected></option>
								<option th:each="timezoneDetails : ${timezoneDetails}"
								th:value="${timezoneDetails.getId()}"
								th:text="${timezoneDetails.getDescription()}"
								th:selected="${timezoneDetails.getId() eq LegalAddress.getTimezone()}">
						</select>
					</p>  
				</div>
				<p th:if="${LegalAddress.getLegaladdressid()==0}">
                    <label>Time Zone</label>
					<select id="timezone" class="w3-select w3-border" name="option" tabindex="8">
						<option value="" disabled selected></option>
						<option th:each="LegalAddress : ${LegalAddress}"
							th:value="${LegalAddress.getTimezone()}"
							th:text="${LegalAddress.getTimezonename()}">
					</select>
				</p>
		</div>
	</div>
	<div class="w3-container">
		<p>
		<button id="LegAddrCancel" rm="enterprisesetup/managelegaladdress" tabindex="15" class="w3-button w3-theme w3-grey">Cancel</button>
		<button id="LA_CREATE" class="w3-button w3-theme w3-grey" tabindex="10">Submit</button>
		</p>
	</div>
<div id="AFTER_SUBMIT_STATUS_BLOCK" class="w3-modal">
			<div class="w3-modal-content w3-card-4 w3-animate-zoom"
				style="max-width: 400px;">
				<div class="w3-center w3-container w3-border-top w3-padding-16 w3-light-grey">
					<label id="lblMsg" style="font-weight:bold"> </label> <a id="btnOK"
						rm="enterprisesetup/managelegaladdress">OK</a>
				</div>
			</div>
		</div>
	</div>
<script src="/js/validation/validation.js"></script>
<script src="/js/create/legaladdress.js"></script>
</div>