<div th:fragment="createGradeRate">
  <form  method="post" id="GRADE_RATE" enctype="application/x-www-form-urlencoded" onsubmit="return false;">   
	<div class="w3-container" style="margin-top:14px;">
		<h3 class="w3-text-theme" style="margin-top:2px; bottom:2px; ">Grade Rate Details</h3>
		</div>
		<div class="w3-row">
		<div class=w3-half>	
		<hr class="hrline">
		<div class="w3-container"  style="margin-top:43px;">
		  <h5 class="w3-text-theme" style="margin-top:2px; bottom:2px; display:inline-block">IN Legislative Data Group</h5>
			<p>
			<label>Effective Start Date</label> 
			<input value="" class="w3-input w3-border" max="9999-12-31" name="effectstartdate" id="CR_GRADE_EFFDT_START" type="date" data-date="" data-date-format="YYYY MM DD"/>
			</p>
			<p>
			<label>Effective End Date</label> 
			<input value="" class="w3-input w3-border" max="9999-12-31" name="effectenddate" id="CR_GRADE_EFFDT_END" type="date" data-date="" data-date-format="YYYY MM DD"/>
			</p>
			<p>
			<label>Name</label>
			<input value="" class="w3-input w3-border" name="name" id="CR_COMP_RATE_CODE" type="text">
			</p>
			<p>
					<label>Rate Type</label> 
					<select id="CR_COMP_BASE_PAY" class="w3-select w3-border" name="ratetype">
						<option value="" disabled selected></option>
						<option th:each="ratetype : ${ratetype}" th:value="${ratetype.getId()}" th:text="${ratetype.getDescription()}">
					</select>
				</p>
				<p>
			<label>Rate VOM</label>
			<input value="" class="w3-input w3-border" name="ratevom" id="CR_COMP_RATE_CODE" type="text">
			</p>
				<p>
					<label>Attachments</label> 
					 <label style="margin-left:5px;" value=""  id="EDIT_PRSN_TITLE" type="text" disabled>None</label>
					 <button id="ADD_ATTACHMENT_BTN" class="w3-button w3-white"> + </button>
				</p>
		</div>
		</div>
		<div class=w3-half>
		<div class="w3-container" style="margin-top:90px;">
				<p>
					<label>Status</label> 
					<select id="CR_COMP_BASE_PAY" class="w3-select w3-border" name="status">
						<option value="" disabled selected></option>
						<option th:each="status : ${status}" th:value="${status}" th:text="${status}">
					</select>
				</p>
			<p>
					<label>Frequency</label> 
					<select id="CR_COMP_FTE" class="w3-select w3-border" name="ratefrequency">
						<option value="" disabled selected></option>
						<option th:each="frequency : ${frequency}" th:value="${frequency.getId()}" th:text="${frequency.getDescription()}">
					</select>
			</p>
			<p>
			<label>Annualization Factor</label>
			<input value="" class="w3-input w3-border" name="annualizationfactor" id="CR_COMPENSATION" type="text">
			</p>
			<p>
					<label>Currency</label> 
					<select id="CR_COMP_FTE" class="w3-select w3-border" name="currancycode">
						<option value="" disabled selected></option>
						<option th:each="currency : ${currency}" th:value="${currency.getId()}" th:text="${currency.getDescription()}">
					</select>
			</p>
		</div>
		</div>
		<div class="w3-container">
		<h5 class="w3-text-theme" style="margin-top:2px; bottom:2px; display:inline-block">IN Legislative Data Group</h5>
		<div class="w3-padding w3-border">
				<p>
				<label>View</label> 
				<button id="VIEW_BTN" class="w3-button w3-white w3-small">^</button> 
				<label>Format</label> 
				<button id="FORMAT_BTN" class="w3-button w3-white w3-small">^</button> 
				<label >Add Row</label> 
				<input style="marging-left:5px" class="w3-btn"   type="button" value="+" onclick="addRowNowGRADE();"/>
				</p>
			<div class="w3-border">
				<table id="GRADE_RATE_VALUE_TBL" class="display compact w3-table" style="width: 100%;">
					<thead>
										<th style="width:60%; text-align:center;">Grade</th>
										<th style="width:10%; text-align:center;">*Minimum</th>
										<th style="width:10%; text-align:center;">*Maximum</th>
										<th style="width:10%; text-align:center;">Midpoint</th>
										<th></th>
										<th></th>
										<th hidden></th>
										<th hidden></th>
									</thead>
									<tbody></tbody>
										
									</table>
			</div>
			</div>
			</div>
	<div class="w3-container">
		<p>
		<button id="GradeRAteCancel" rm="enterprisesetup/managegraderate"  class="w3-button w3-theme w3-grey">Cancel</button>
		<button onclick="ajaxPost(); return false;" class="w3-button w3-theme " style="margin-left:5px">Submit</button>	
		</p>
	</div>
	<!-- PopUp Start Here -->
<div id="id01" class="w3-modal">
		<div  class="w3-modal-content w3-card-4 w3-animate-zoom">
			<div  class="w3-center w3-container w3-border-top w3-padding-16 w3-light-grey" >
		<div class="modal-header">
			<h3 align="left">Search and Select:Grade</h3>
				<hr class="hrline">
		</div>
		<div class="modal-body">
		<div>
		<div class=w3-half>
	    <div class="w3-container">
	    <div class="w3-row w3-section">
	             <div class="w3-col" style="width:80px">Code:</div>
	             <div class="w3-rest">
	            <input value="" class="w3-input w3-border"  id="SRCH_CODE" type="text">
	             </div>
	             </div>
	             <div class="w3-row w3-section">
	             <div class="w3-col" style="width:80px">Name:</div>
	             <div class="w3-rest">
	             <input value="" class="w3-input w3-border"  id="SRCH_NAME" type="text">
	             </div>
	             </div>
	</div>
	</div>
	<div class=w3-half>
	<div class="w3-container">
	              <div class="w3-row w3-section">
	             <div class="w3-col" style="width:80px">Status:</div>
	             <div class="w3-rest">
				<select id="statusList" class="w3-select w3-border" name="option" >
	 				<option value="" disabled selected></option>
					<option th:each="status : ${status}" th:value="${status}" th:text="${status}">
				</select>
	             </div>
	             </div>
	</div>
	</div>
			<br>
			<div class="w3-container" >               
               <div class="form-group">
                 <div class="col-sm-12">
                <div class="w3-right">
             	<button id="GRADE_SEARCH" class="w3-button w3-theme w3-grey">Search</button>
                </div>
               </div>
               </div>               
			</div>
			<BR>
			<div id="graderesultSec" class="w3-responsive" style="display: none">
				<table id="GRADE_LIST" class="display compact w3-table" style="width: 100%;">
					<thead>
					<tr class="w3-theme-d3">
						<th>Name</th>
						<th>Code</th>
						<th>Status</th>
						<th>Data Set</th>
						<th></th>
					</tr>
					</thead>
				</table>
			</div>
			<div  id="noDataGrade" class="w3-responsive" style="display: none">
				<div>
					<p>No record found...</p>
				</div>
			</div>
		</div>
		</div>
		<div class="modal-footer">
		<div class="w3-container" >               
               <div class="form-group">
                <div class="w3-right">
               <button id="BU_POP_OK" class="w3-button w3-theme w3-grey">OK</button>
               <button id="BU_POP_CANCEL" class="w3-button w3-theme w3-grey"  onclick="document.getElementById('id01').style.display='none'">Cancel</button>
                </div>
               </div>               
			</div>
		</div>
		</div>
		</div>
		</div>
		<!-- PopUp End Here -->
</div>
<script src="/js/search/searchGradeRate.js"></script>
</form>
</div>