<div th:fragment="createreHoliday">
	<form method="post" id="HOLIDAY_SAVE"
		enctype="application/x-www-form-urlencoded" onsubmit="return false;">
		<input type="hidden" value="" id="cmd" name="cmd">
		<div class="w3-row">
			<hr class="hrline">
			<h5 style="font-weight: bold">Basic Details Holiday</h5>


			<input id="txthldyid" name="holidayid" type="text"
				th:value="${holiday.getHolidayid()}" hidden/> <input id="txthldyActionid"
				name="actionid" type="text" th:value="${holiday.getActionid()}" hidden />


			<div class="w3-container">

				<div id="Eligibility" class="w3-container city">

					<div class=w3-half>
						<div class="w3-container">
							<p>
								<label> Date</label> <input class="w3-input w3-border"
									name="date" id="CR_HLDY_EFFDT" type="date" data-date=""
									data-date-format="YYYY MM DD" tabindex="1" th:value="${holiday.getDate()}"  />
							</p>
							<p>
								<label>Name</label> <input value="" class="w3-input w3-border"
									name="name" id="CR_HLDY_NAME" type="text" th:value="${holiday.getName()}">
							</p>
							<p>
								<label>Description</label> <input value=""
									class="w3-input w3-border" name="description" id="CR_HLDY_DSCR"
									type="text" th:value="${holiday.getDescription()}">
							</p>
							
							<p th:each="entry ,stats: ${location}">
								<input style="zoom: 1.0;"
									th:name="'location['+${stats.index}+'].locationid'"
									id="CHECKBOX_NATIDENTIFIER" type="checkbox"
									th:value="${entry.getId()}" 
									th:checked= "${entry.getChecked()}" /> <label
									th:text="${entry.getDescription()}"></label>
							</p>
														

						</div>
					</div>

					<div class=w3-half>
						<div class="w3-container">

							<p th:if="${holiday.getHolidaytypeid()==0}">
								<label>Holiday Type</label> <select id="CR_HLDY_TYPE"
									class="w3-select w3-border" name="holidaytypeid" tabindex="5">
									<option value="" disabled selected></option>
									<option th:each="hldy: ${holidaytype}"
										th:value="${hldy.getId()}" th:text="${hldy.getDescription()}">
								</select>
							</p>
							
						<p th:if="${holiday.getHolidaytypeid()!=0}">
								
								<label>Holiday Type</label> <select id="CR_HLDY_TYPE"
									class="w3-select w3-border" name="holidaytypeid" tabindex="5">
									<option th:each="hldy : ${holidaytype}"
										th:selected="${hldy.getId() eq holiday.getHolidaytypeid()}"
										th:value="${hldy.getId()}" th:text="${hldy.getDescription()}"></option>
								</select><span id="DEPT_DATASET_ERROR" style="color:red"></span>
						
							</p> 
							
							
							
							<p>
								<label>Standard Hours</label> <input value=""
									class="w3-input w3-border" name="standardhours"
									id="CR_HLDY_HURS" type="text" th:value="${holiday.getStandardhours()}">
							</p>

							<p th:if="${holiday.getHolidayid()==0}">
								<label>Half day</label> <select id="halfdayList"
									class="w3-select w3-border" name="halfday" style="height: 41px">
									<option th:each="st : ${Identifying}"
										th:selected="${st=='Yes'}" th:value="${st}" th:text="${st}">
								</select>
							</p>

							<p th:if="${holiday.getHolidayid()!=0}">
								<label>Half day</label>
							<select id="halfdayList" class="w3-select w3-border" name="halfday" style="height: 41px">
								<option th:value="${holiday.getHalfday()}" th:text="${holiday.getHalfday()}" selected hidden>
								</option>
								<option th:each="st : ${Identifying}" th:selected="${st=='Yes'}" th:value="${st}" th:text="${st}">
							</select><span id="DEPT_STATUS_ERROR" style="color:red"></span>
							</p>
							
							
							
							<p  th:if="${holiday.getHolidayid()==0}">
                     <label>Status</label>
					<select id="statusList" class="w3-select w3-border" name="status" >
						<option th:each="st : ${status}" th:selected="${st == 'Active' }" th:value="${st}" th:text="${st}">
					</option>
					</select>
							</p>
							
						<p th:if="${holiday.getHolidaytypeid()!=0}">
						           <label>Status</label>
						              <select id="statusList" class="w3-select w3-border" name="status" >
								<option th:value="${holiday.getStatus()}" th:text="${holiday.getStatus()}" selected hidden></option>
								<option th:each="status : ${status}" th:value="${status}" th:text="${status}">
							</option>
							</select>
						</p>
							

						</div>
					</div>



				</div>


			</div>

			<div class="w3-container">
				<p>
					<button id="holidayCancel" rm="holiday/manageHoliday"
						class="w3-button w3-theme " style="margin-right: 10px;">Cancel</button>
					<button onclick="ajaxPost()" class="w3-button w3-theme w3-grey">Submit</button>
				</p>
			</div>



			<div id="AFTER_SUBMIT_STATUS_BLOCK" class="w3-modal">
				<div class="w3-modal-content w3-card-4 w3-animate-zoom"
					style="max-width: 400px;">
					<div
						class="w3-center w3-container w3-border-top w3-padding-16 w3-light-grey">


						<label id="lblMsg" style="font-weight: bold"> </label> <a
							id="btnOK" rm="holiday/manageHoliday">OK</a>

					</div>

				</div>
			</div>



		</div>
		<script src="/js/create/createholiday.js"></script>
	</form>
</div>






