<div th:fragment="electricityClaim">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<script th:inline="javascript">
/*<![CDATA[*/
    var resultfinal = /*[[${result}]]*/;
	var stat_submit = /*[[${submitstatus}]]*/;
/*]]>*/
</script>

	<div class="w3-main" style="margin-left: 300px; margin-top: -14px; margin-bottom:16px;">
		<div style="position: relative;">
			<div class="w3-container w3-margin-bottom">
				<h4 style="font-weight: 400;">
					<img onclick="w3_open()" class="w3-hide-large" src="/images/hide-grader-panel.png"
						style="cursor: pointer;"> <i class="fas fa-bolt" style="color: #f7d351"></i>
					&nbsp;Electricity Reimbursement
				</h4>
			</div>
		</div>

		<!-- Employee Data display starts here -->
		<div class="w3-container">
			<div id="fragmaent_container" th:include="forms/reimbursement/header :: header"></div>
			
			<!-- -------- BUTTONS FOR SAVE SUBMIT------------- -->
			<div class="w3-bar w3-theme-l3">
				<h5 class="w3-bar-item" >Claim Details</h5>
				
				<div class="w3-bar-item w3-right" style="margin-top: 1px;" th:if="${electricitymodel.getElectricityid()==0}">
					<div type="button" class="w3-btn w3-red w3-round-large" onclick="backBtnFunc();"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>&nbsp;&nbsp;Return to Search</div>
					<div type="button" class="w3-btn w3-blue w3-round-large" id="btnSave"
						onclick="ajaxsave('save','ELEC_SAVE','save')"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;Save Claim</div>
					 <div type="button" class="w3-btn w3-green w3-round-large" id="btnSubmit" onclick="ajaxsave('Save&Submit','ELEC_SAVE','submit')" value="Submit Claim for Approval" ><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;&nbsp;Save & Submit</div> 
				</div>
			
				<div class="w3-bar-item w3-right" style="margin-top: 1px;" th:if="${electricitymodel.getElectricityid()!=0} and ${display_mode == 'edit'}">
					<div type="button" class="w3-btn w3-red w3-round-large" onclick="backBtnFunc();" ><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>&nbsp;&nbsp;Return to Search</div>
					<div type="button" class="w3-btn w3-blue w3-round-large" id="btnSave" onclick="ajaxsave('save','ELEC_SAVE','update')"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;Update</div>
					<div type="button" class="w3-btn w3-green w3-round-large" id="btnSubmit" onclick="ajaxsave('submit','ELEC_SAVE','submit')" value="Submit Claim for Approval" ><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;&nbsp;Submit</div>
				</div>
				
				<div class="w3-bar-item w3-right" style="margin-top: 1px;" th:if="${electricitymodel.getElectricityid()!=0} and ${display_mode == 'view'}">
					<div type="button" class="w3-btn w3-red w3-round-large" onclick="backBtnFunc();" ><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>&nbsp;&nbsp;Return to Search</div>
					<div type="button" class="w3-btn w3-grey w3-round-large" th:onclick="|loadclaimform('${electricitymodel.getElectricityid()}')|"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;&nbsp;Declaration</div>					
				</div>
			</div>
			
			<!-- <h5 class="w3-text-theme"
				style="font-weight: bold; margin-top: 2px; bottom: 2px;">Employee
				Details</h5>
			<div class="w3-panel w3-padding w3-border">
				<div class="w3-row">
					<div class="w3-col m4 w3-padding">
						<div class="w3-center">
							<img class="w3-round" src="/images/profile_pic.jpg"
								style="width: 50%;" />
						</div>
					</div>
					<br />
					<div class="w3-col m4 w3-padding">
						<p>
							<label style="font-weight: bold; color: black;">Employee
								Number&nbsp;&nbsp;</label><label id="elec_personnumber"
								th:text="${personInfo.getPersonnumber()}"></label>
						</p>
						<p>
							<label style="font-weight: bold; color: black;">Employee
								Name&nbsp;&nbsp;</label><label th:text="${personInfo.getPersonname()}">
								</label>
						</p>
						<p>
							<label style="font-weight: bold; color: black;">Date Of
								Birth&nbsp;&nbsp;</label><label th:text="${personInfo.getDateofbirth()}"></label>
						</p>
						<p>
							<label style="font-weight: bold; color: black;">Email
								ID&nbsp;&nbsp;</label><label th:text="${personInfo.getEmailaid()}"></label>
						</p>
						<p>
							<label style="font-weight: bold; color: black;">Phone
								Number&nbsp;&nbsp;</label><label
								th:text="${personInfo.getPhonenumber()}"></label>
						</p>
						<p>
							<label style="font-weight: bold; color: black;">Employee
								Type&nbsp;&nbsp;</label><label th:text="${personInfo.getEmployeetype()}"></label>
						</p>

					</div>
					<div class="w3-col m4 w3-padding">
						<p>
							<label style="font-weight: bold; color: black;">Designation&nbsp;&nbsp;</label>
							<label th:text="${personInfo.getDesignation()}"></label>
						</p>
						<p>
							<label style="font-weight: bold; color: black;">Base
								Location&nbsp;&nbsp;</label><label
								th:text="${personInfo.getBaselocation()}"></label>
						</p>
						<p>
							<label style="font-weight: bold; color: black;">Work
								Location&nbsp;&nbsp;</label><label
								th:text="${personInfo.getWorklocation()}"></label>
						</p>
						<p>
							<label style="font-weight: bold; color: black;">Joining
								Date&nbsp;&nbsp;</label><label th:text="${personInfo.getJoiningdate()}"></label>
						</p>


					</div>

				</div>
			</div>
		</div>
		<hr class="hrline" /> -->


		<!-- Employee Data display ends here -->


		<!--Form Content Goes here-->

		<div class="w3-row w3-padding-large w3-margin-top">
			<p>
				<label>Entitlement: &nbsp;</label> <label class="w3-text-blue"
					th:text="${ceilingamt}"></label><label>&nbsp;Units Per Month</label>
			</p>
			<!-- <h5 class="w3-text-theme" style="font-weight: bold;">Claim	Details</h5> -->

			<form method="post" enctype="multipart/form-data" id="ELEC_SAVE">
				<div class="w3-row">
					<div style="display: none;">
						<input id="statusid" value="" type="hidden" name="statusid" /> <input
							type="text" id="elec_rembid" th:name="reimburseid" value="4" />

						<input id="elec_personnumber" th:value="${personInfo.getPersonnumber()}" type="hidden" name="personnumber"  />

						<input
							type="hidden" id="elec_rembid" th:name="reimburseid" value="4" />
						<input type="text" id="elec_claimid"
							th:name="electricityid"
							th:value="${electricitymodel.getElectricityid()}" />

						<!-- <input
							type="text" id="designation" name="person_designation" value="MD" /> -->
						<input type="text" id="EL_JOB" name="person_designation"
							th:value="${personInfo.getJob()}" />
					</div>
				</div>
				<div class="w3-row">&nbsp;</div>
				<div class="w3-row">
					<div class="w3-twothird w3-container">
						<div class="w3-row">
							<!-- OM/PROJECT STARTS -->
							<div class="w3-half w3-container w3-padding">
								<p th:if="${electricitymodel.getElectricityid()==0}">
									<label style="color: black;">OM/Project</label><span style="color: red;">*</span> <select
										required th:name="omproject"
										class="w3-select w3-border w3-round">
										<option value="0" disabled selected>Select</option>
										<option th:each="omp : ${omproject}" th:value="${omp.getId()}"
											th:text="${omp.getDescription()}"
											th:selected="${electricitymodel.getOmproject() == omp.getId()}"></option>
									</select> 
									
									<span style="color: #ff0000"
										th:if='${bindingResult != null && bindingResult.getFieldError("omproject")!=null}'
										th:text='${bindingResult.getFieldError("omproject").getDefaultMessage()}'></span>
								</p>
								<p
									th:if="${electricitymodel.getElectricityid()!=0} and ${display_mode == 'edit'}">
									<label style="color: black;">OM/Project</label><span style="color: red;">*</span> <select
										required th:name="omproject"
										class="w3-select w3-border w3-round">
										<option value="0" disabled selected>--Select Option--</option>
										<option th:each="omp : ${omproject}" th:value="${omp.getId()}"
											th:text="${omp.getDescription()}"
											th:selected="${electricitymodel.getOmproject() == omp.getId()}"></option>
									</select> <span style="color: #ff0000"
										th:if='${bindingResult != null && bindingResult.getFieldError("omproject")!=null}'
										th:text='${bindingResult.getFieldError("omproject").getDefaultMessage()}'></span>
								</p>
								<p
									th:if="${electricitymodel.getElectricityid()!=0} and ${display_mode == 'view'}">
									<label style="color: black;">OM/Project</label><span style="color: red;">*</span> <select
										disabled th:name="omproject"
										class="w3-select w3-border w3-round">
										<option value="0" disabled selected>--Select Option--</option>
										<option th:each="omp : ${omproject}" th:value="${omp.getId()}"
											th:text="${omp.getDescription()}"
											th:selected="${electricitymodel.getOmproject() == omp.getId()}"></option>
									</select>
								</p>
							</div>
							<!-- OM/PROJECT ENDS -->
							<!-- VEHICLE USED STARTS -->
							<div class="w3-half w3-container w3-padding">
								<p th:if="${electricitymodel.getElectricityid()==0}">
									<label style="color: black;">Vehicle Used</label><span style="color: red;">*</span> <select
										required th:name="vehicleused"
										class="w3-select w3-border w3-round">
									<option value="0" selected>--Select Option--</option>
										<option th:each="veh : ${vehicles}" th:value="${veh.getId()}"
											th:text="${veh.getDescription()}" th:selected="${electricitymodel.getVehicleused() == veh.getId()}"></option>
									</select> <span style="color: #ff0000"
										th:if='${bindingResult != null && bindingResult.getFieldError("vehicleused")!=null}'
										th:text='${bindingResult.getFieldError("vehicleused").getDefaultMessage()}'></span>
								</p>
								<p
									th:if="${electricitymodel.getElectricityid()!=0} and ${display_mode == 'edit'}">
									<label style="color: black;">Vehicle Used</label><span style="color: red;">*</span> <select
										th:name="vehicleused" class="w3-select w3-border w3-round"><option
											disabled selected>Select</option>
										<option th:each="veh : ${vehicles}" th:value="${veh.getId()}"
											th:text="${veh.getDescription()}"
											th:selected="${electricitymodel.getVehicleused() == veh.getId()}"></option>
									</select> <span style="color: #ff0000"
										th:if='${bindingResult != null && bindingResult.getFieldError("vehicleused")!=null}'
										th:text='${bindingResult.getFieldError("vehicleused").getDefaultMessage()}'></span>
								</p>
								<p
									th:if="${electricitymodel.getElectricityid()!=0} and ${display_mode == 'view'}">
									<label style="color: black;">Vehicle Used</label><span style="color: red;">*</span> <select
										disabled th:name="vehicleused"
										class="w3-select w3-border w3-round"><option
											disabled selected>Select</option>
										<option th:each="veh : ${vehicles}" th:value="${veh.getId()}"
											th:text="${veh.getDescription()}"
											th:selected="${electricitymodel.getVehicleused() == veh.getId()}"></option>
									</select>
								</p>
							</div>
							<!-- VEHICLE USED ENDS -->
						</div>
						<div class="w3-row">
							<!-- FROM DATE STARTS -->
							<div class="w3-half w3-container w3-padding">
								<p th:if="${electricitymodel.getElectricityid()==0}">
									<label style="color: black;">From Date</label><span style="color: red;">*</span> <input
										required type="date" th:name="fromdate" id="from_date"
										th:value="${electricitymodel.getFromdate()}" class="w3-input w3-border w3-round" /> <span
										style="color: #ff0000"
										th:if='${bindingResult != null && bindingResult.getFieldError("fromdate")!=null}'
										th:text='${bindingResult.getFieldError("fromdate").getDefaultMessage()}'></span>
								</p>
								<p
									th:if="${electricitymodel.getElectricityid()!=0} and ${display_mode == 'edit'}">
									<label style="color: black;">From Date</label><span style="color: red;">*</span> <input
										required type="date" th:name="fromdate" id="from_date"
										th:value="${electricitymodel.getFromdate()}"
										class="w3-input w3-border w3-round" /> <span
										style="color: #ff0000"
										th:if='${bindingResult != null && bindingResult.getFieldError("fromdate")!=null}'
										th:text='${bindingResult.getFieldError("fromdate").getDefaultMessage()}'></span>
								</p>
								<p
									th:if="${electricitymodel.getElectricityid()!=0} and ${display_mode == 'view'}">
									<label style="color: black;">From Date</label><span style="color: red;">*</span> <input
										readonly type="date" th:name="fromdate" id="from_date"
										th:value="${electricitymodel.getFromdate()}"
										class="w3-input w3-border w3-round" />
								</p>
							</div>
							<!-- FROM DATE ENDS -->
							<!-- TO DATE STARTS -->
							<div class="w3-half w3-container w3-padding">
								<p th:if="${electricitymodel.getElectricityid()==0}">
									<label style="color: black;">To Date</label><span style="color: red;">*</span> <input
										required type="date" th:name="todate" id="to_date"
										class="w3-input w3-border w3-round" th:value="${electricitymodel.getTodate()}" />&nbsp;&nbsp; <span
										style="color: #ff0000"
										th:if='${bindingResult != null && bindingResult.getFieldError("todate")!=null}'
										th:text='${bindingResult.getFieldError("todate").getDefaultMessage()}'></span>
								</p>
								<p
									th:if="${electricitymodel.getElectricityid()!=0} and ${display_mode == 'edit'}">
									<label style="color: black;">To Date</label><span style="color: red;">*</span> <input
										required type="date" th:name="todate" id="to_date"
										th:value="${electricitymodel.getTodate()}"
										class="w3-input w3-border w3-round" />&nbsp;&nbsp; <span
										style="color: #ff0000"
										th:if='${bindingResult != null && bindingResult.getFieldError("todate")!=null}'
										th:text='${bindingResult.getFieldError("todate").getDefaultMessage()}'></span>
								</p>
								<p
									th:if="${electricitymodel.getElectricityid()!=0} and ${display_mode == 'view'}">
									<label style="color: black;">To Date</label><span style="color: red;">*</span> <input
										readonly type="date" th:name="todate" id="to_date"
										th:value="${electricitymodel.getTodate()}"
										class="w3-input w3-border w3-round" />&nbsp;&nbsp;
								</p>
							</div>
							<!-- TO DATE ENDS -->
						</div>
						<div class="w3-row">
							<!-- BILLED UNIT STARTS -->
							<div class="w3-half w3-container w3-padding">
								<p th:if="${electricitymodel.getElectricityid()==0}">
									<label style="color: black;">Billed Units</label><span style="color: red;">*</span> <input
										type="text" th:name="billedunits" id="billed_units" required oninput="this.value=this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1');"
										th:value="${electricitymodel.getBilledunits()}"  class="w3-input w3-border w3-round" /> <span
										style="color: #ff0000"
										th:if='${bindingResult != null && bindingResult.getFieldError("billedunits")!=null}'
										th:text='${bindingResult.getFieldError("billedunits").getDefaultMessage()}'></span>
								</p>
								<p
									th:if="${electricitymodel.getElectricityid()!=0} and ${display_mode == 'edit'}">
									<label style="color: black;">Billed Units</label><span style="color: red;">*</span> <input
										type="text" th:name="billedunits" id="billed_units" oninput="this.value=this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1');"
										th:value="${electricitymodel.getBilledunits()}" required
										class="w3-input w3-border w3-round" /> <span
										style="color: #ff0000"
										th:if='${bindingResult != null && bindingResult.getFieldError("billedunits")!=null}'
										th:text='${bindingResult.getFieldError("billedunits").getDefaultMessage()}'></span>
								</p>
								<p
									th:if="${electricitymodel.getElectricityid()!=0} and ${display_mode == 'view'}">
									<label style="color: black;">Billed Units</label><span style="color: red;">*</span> <input
										type="text" th:name="billedunits" id="billed_units"
										th:value="${electricitymodel.getBilledunits()}" readonly
										class="w3-input w3-border w3-round" />
								</p>
							</div>
							<!-- BILLED UNITS ENDS -->
							<!-- BILLED AMOUNT STARTS -->
							<div class="w3-half w3-container w3-padding">
								<p th:if="${electricitymodel.getElectricityid()==0}">
									<label style="color: black;">Billed Amount</label><span style="color: red;">*</span>
									<input required type="text" th:name="billedamt" id="billed_amt" oninput="this.value=this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1');"
										th:value="${electricitymodel.getBilledamt()}" class="w3-input w3-border w3-round" /> <span
										style="color: #ff0000"
										th:if='${bindingResult != null && bindingResult.getFieldError("billedamt")!=null}'
										th:text='${bindingResult.getFieldError("billedamt").getDefaultMessage()}'></span>
								</p>
								<p
									th:if="${electricitymodel.getElectricityid()!=0} and ${display_mode == 'edit'}">
									<label style="color: black;">Billed Amount</label><span style="color: red;">*</span>
									<input required type="text" th:name="billedamt" id="billed_amt" oninput="this.value=this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1');"
										th:value="${electricitymodel.getBilledamt()}"
										class="w3-input w3-border w3-round" /> <span
										style="color: #ff0000"
										th:if='${bindingResult != null && bindingResult.getFieldError("billedamt")!=null}'
										th:text='${bindingResult.getFieldError("billedamt").getDefaultMessage()}'></span>
								</p>
								<p
									th:if="${electricitymodel.getElectricityid()!=0} and ${display_mode == 'view'}">
									<label style="color: black;">Billed Amount</label><span style="color: red;">*</span>
									<input readonly type="text" th:name="billedamt" id="billed_amt"
										th:value="${electricitymodel.getBilledamt()}"
										class="w3-input w3-border w3-round" />
								</p>
							</div>
							<!-- BILLED AMOUNT ENDS -->
						</div>
						<div class="w3-row">
							<!-- CLAIMED UNIT STARTS -->
							<div class="w3-half w3-container w3-padding">
								<p th:if="${electricitymodel.getElectricityid()==0}">
									<label style="color: black;">Claimed Units</label><span style="color: red;">*</span>
									<input type="text" th:name="claimedunit" id="claimed_units" oninput="this.value=this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1');"
										   th:value="${electricitymodel.getClaimedunit()}" class="w3-input w3-border w3-round" required />
										
										<span
										style="color: #ff0000"
										th:if='${bindingResult != null && bindingResult.getFieldError("claimedunit")!=null}'
										th:text='${bindingResult.getFieldError("claimedunit").getDefaultMessage()}'></span>
								</p>
								<p
									th:if="${electricitymodel.getElectricityid()!=0} and ${display_mode == 'edit'}">
									<label style="color: black;">Claimed Units</label><span style="color: red;">*</span>
									<input type="text" th:name="claimedunit" id="claimed_units" oninput="this.value=this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1');"
										th:value="${electricitymodel.getClaimedunit()}"
										class="w3-input w3-border w3-round" required /> 
										
										<span
										style="color: #ff0000"
										th:if='${bindingResult != null && bindingResult.getFieldError("claimedunit")!=null}'
										th:text='${bindingResult.getFieldError("claimedunit").getDefaultMessage()}'></span>
								</p>
								<p
									th:if="${electricitymodel.getElectricityid()!=0} and ${display_mode == 'view'}">
									<label style="color: black;">Claimed Units</label><span style="color: red;">*</span>
									<input type="text" th:name="claimedunit" id="claimed_units"
										th:value="${electricitymodel.getClaimedunit()}"
										class="w3-input w3-border w3-round" readonly />
								</p>
							</div>
							<!-- CLAIMED UNITS ENDS -->
							<!-- CLAIMED AMOUNT STARTS -->
							<div class="w3-half w3-container w3-padding">
								<p th:if="${electricitymodel.getElectricityid()==0}">
									<label style="color: black;">Claimed Amount</label><span style="color: red;">*</span>
									<input type="text" th:name="claimedamt" id="claimed_amt" oninput="this.value=this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1');"
										required th:value="${electricitymodel.getClaimedamt()}" class="w3-input w3-border w3-round" />
										
										<span
										style="color: #ff0000"
										th:if='${bindingResult != null && bindingResult.getFieldError("claimedamt")!=null}'
										th:text='${bindingResult.getFieldError("claimedamt").getDefaultMessage()}'></span>
								</p>
								<p
									th:if="${electricitymodel.getElectricityid()!=0} and ${display_mode == 'edit'}">
									<label style="color: black;">Claimed Amount</label><span style="color: red;">*</span>
									<input type="text" th:name="claimedamt" id="claimed_amt" oninput="this.value=this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1');"
										th:value="${electricitymodel.getClaimedamt()}"
										class="w3-input w3-border w3-round" /> 
										
										<span
										style="color: #ff0000"
										th:if='${bindingResult != null && bindingResult.getFieldError("claimedamt")!=null}'
										th:text='${bindingResult.getFieldError("claimedamt").getDefaultMessage()}'></span>
								</p>
								<p
									th:if="${electricitymodel.getElectricityid()!=0} and ${display_mode == 'view'}">
									<label style="color: black;">Claimed Amount</label><span style="color: red;">*</span>
									<input type="text" th:name="claimedamt" id="claimed_amt"
										readonly th:value="${electricitymodel.getClaimedamt()}"
										class="w3-input w3-border w3-round" />
								</p>
							</div>
							<!-- CLAIMED AMOUNT ENDS -->
						</div>
						<div class="w3-row">
							<!-- ATTACHMENT STARTS -->
							<div class="w3-half w3-container w3-padding">
								<input id="attachments" name="attachments" type="hidden" />
								<p th:if="${electricitymodel.getElectricityid()==0}">
									<label style="color: black;">Upload Bill</label><input
										type="file" th:name="file" id="file"
										class="w3-input w3-border w3-round" />
								</p>
								<p
									th:if="${electricitymodel.getElectricityid()!=0} and ${display_mode == 'edit'}">
									
									<input type="hidden" name="attachhidden" th:value="${electricitymodel.getAttachments()}"/>
									<label style="color: black;">Upload Bill</label>
									<input	type="file" th:name="file" id="file" class="w3-input w3-border w3-round" />
									<a th:if="${(electricitymodel.getAttachments() != '') and (electricitymodel.getAttachments() != null)}" id="DOWNLOAD_LINK" th:href="${electricitymodel.getAttachments()}" target="_blank" download>Download Attachment</a>
								</p>
								<p
									th:if="${electricitymodel.getElectricityid()!=0} and ${display_mode == 'view'}">
									<a th:if="${(electricitymodel.getAttachments() != '')and (electricitymodel.getAttachments() != null)}" id="DOWNLOAD_LINK" th:href="${electricitymodel.getAttachments()}" target="_blank" download>Download Attachment</a>
									<br/>
								</p>
							</div>
							<!-- ATTACHMENT ENDS -->

						</div>

					</div>
					<div class="w3-third w3-container w3-border w3-border-black">
						<div class="w3-row">
							<p>
								<label style="color: black;">Ceiling Limit (in units)</label><input type="text"
									th:name="ceiling_units" id="ceiling_units" th:value="${ceilingamt}" readonly
									class="w3-input w3-border w3-round" />
							</p>
							<p>
								<label style="color: black;">Bill Duration(in Days)</label><input type="text"
									id="bill_duration" name="bill_duration" readonly
									class="w3-input w3-border w3-round" />
							</p>
							<p style="display:none;">
								<label style="color: black;">60% of claimed units</label><input type="text"
									th:name="billed_units_perc" id="billed_units_perc"
									class="w3-input w3-border w3-round" readonly />
							</p>
							<p style="display:none;">
								<label style="color: black;">Total eligible units</label><input type="hidden"
									th:name="units_eligible" id="units_eligible"
									class="w3-input w3-border w3-round" readonly />
							</p>
							<p>
								<label style="color: black;">Approved Units</label><input type="text" th:name="eligible_units"
									id="eligible_units" class="w3-input w3-border w3-round"
									readonly /> 
							</p>
						</div>
					</div>
				</div>

				<div class="w3-row">&nbsp;</div>	
							
			</form>
		</div>
		<h5 th:if="${display_mode == 'view'}" > Approval History&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-history" th:id="${electricitymodel.getElectricityid()}" aria-hidden="true" th:onclick='getapprovalhistory(4,this.id);'></i></h5>
		<section class="container" th:style="${display_mode == 'view'}?'display:block':'display:none'">

			<!-- in the sources container show three cards, side by side, or one atop the other on smaller viewports -->
			<div class="container__sources">
				
				<div style="box-shadow: none;background: none;" th:each="aprdata ,stats: ${(approverdata)}" >
					<div class="sources--cms" style="width: 160px">
						<p>Approval <label th:text='${aprdata.getApprovallevel()}'></label></p>
						<p><label th:text='${aprdata.getApproverpersonname()}'></label></p>
						<p><label th:text='${aprdata.getApprovalstatus()}'></label></p>

						<div th:if='${aprdata.getApprovalstatus() == "Approved"}' style="margin: 0;padding: 0; float:right;box-shadow: none;position: absolute;margin-top: -30px;margin-left: 124px">
							<i class="fa fa-check tick"></i>

						</div>
						<div th:if='${aprdata.getApprovalstatus()== "Submitted" or aprdata.getApprovalstatus()== "Pending"}' style="margin: 0;padding: 0; float:right;box-shadow: none;position: absolute;margin-top: -30px;margin-left: 124px">

							<i class="fa fa-clock-o pending"></i>
						</div>
						<div th:if='${aprdata.getApprovalstatus() == "Rejected"}' style="margin: 0;padding: 0; float:right;box-shadow: none;position: absolute;margin-top: -30px;margin-left: 124px">

							<i class="fa fa-close cancel"></i>

						</div>

					</div>
					<svg class="svghor" viewBox="0 10 100 100">
						<line  x1="5" x2="100" y1="80" y2="80"></line>
					</svg>
					<svg class="svgver" viewBox="0 20 100 100 ">
						<line  x1="40" x2="40" y1="0" y2="100"></line>
					</svg>
				</div>
				<div style="background: none;margin-top: 40px;margin-left: 26px;"><i class="far fa-stop-circle" style="font-size: 58px;color: red"></i></div>
			</div>

			<!-- include a simple line to divide the container, and animate it to show a connection between the different containers  -->


		</section>
		<div id="AFTER_SUBMIT_STATUS_BLOCK" class="w3-modal">
			<div class="w3-modal-content w3-card-4 w3-animate-zoom"
				style="max-width: 400px;">
				<div
					class="w3-center w3-container w3-border-top w3-padding-16 w3-light-grey">


					<!-- <label id="lblMsg" style="font-weight: bold"> </label> <a
						id="btnOK">OK</a> -->

					<label id="lblMsg" style="font-weight: bold"> </label> <a
						id="btnOK" rm="reimbursement/electricity">OK</a>

				</div>

			</div>
		</div>

<div th:include="forms/reimbursement/approvalhistory :: fragapprovalhistory"></div>
<script type="text/javascript" src="/js/reimbursement/approvalhistory.js"></script>
		<script type="text/javascript"
			src="/js/reimbursement/electricity/electricity.js"></script>
	</div>
</div>