<div th:fragment="managescheduleprocess">

		<div class="w3-row w3-margin-top">
		<h4 class="w3-text-theme" style="font-weight: bold;">Schedule Process</h4>
		<hr class="hrline">
			
			<div class="w3-third">
				<div class="w3-container">
					<ul class="w3-ul w3-margin-bottom">
						<li id="AUTOASSIGN" class="w3-hover-theme my-hover" style="border-bottom: 1px solid grey;"><h6>Element Auto Assignment</h6></li>
						<li id="AUTOINCREMENT" class="w3-hover-theme my-hover" style="border-bottom: 1px solid grey;"><h6>Employee Auto Increment</h6></li>
					</ul>
				</div>
			</div>
			<div class="w3-third">&nbsp;</div>
			<div class="w3-third">&nbsp;</div>

		<script type="text/javascript" src="/js/scheduleprocess/managescheduleprocess.js"></script>
	</div>
</div>
