
<div th:fragment="manageRepeatingperiod">
    <div class="w3-container">
        <h4 class="w3-text-theme">Search Repeating Period</h4>
    </div>

    <div class="w3-row">
        <div class=w3-third style="border-right: 2px solid black">

            <div class="w3-container">
                <div class="divTable">
                    <div class="divTr">

                        <div class="d1">
                            <h5 style="font-weight: bold">Find an existing Value</h5>
                        </div>
                        <div class="d2">
                            <a id="repeatingCreate" rm="/repeatingperiod/createRepeatingperiod"	class="w3-button w3-circle w3-theme w3-large">+</a>
							<a id="approvalSetup" rm="/approvalsetup/manageapprovalsetup"	class="w3-button w3-circle w3-theme w3-large">+</a>
							<a id="empldetailedit" rm="/controllerDetails/reimbursementDetails"	class="w3-button w3-circle w3-theme w3-large">+</a>
							<!-- <a id="personedit" rm="/personedit/managepersonedit"	class="w3-button w3-circle w3-theme w3-large">+</a> -->
                        </div>
                    </div>

                </div>

                <hr class="hrline">
                <h6>Search Criteria</h6>
                <p>
                    <label>Name</label> <input value="" class="w3-input w3-border"
                                               name="RepeatingName" id="REPT_NAME" type="text">

                </p>
                <p>
                    <label>Code</label> <input value="" class="w3-input w3-border"
                                               name="RepeatingCode" id="REPT_CODE" type="text">

                </p>
                
                <p>
              	<label>Status</label> <span style="color:red"> *</span><select id="REP_STATUS" style="height:43px"
						class="w3-select w3-border" name="status" tabindex="5">
						<option th:each="status : ${status}" th:selected="${status == 'Active'}" th:value="${status}"
							th:text="${status}">
					</select>
				</p>

           
                <p>
                    <button id="REP_SEARCH" class="w3-button w3-theme w3-grey">Search</button>

                </p>
            </div>


        </div>

        <div class="w3-twothird w3-container">
            <h5 style="margin-bottom: 0px; margin-bottom: 0px; font-weight: bold;">Search Results</h5>
            <div id="resultSecRep" class="w3-responsive" style="display:none">
                <table id="repeatingList" class="display compact w3-table" style="width: 100%;">
                    <thead>
                    <tr class="w3-theme-d3">
                        <th>Name</th>
                        <th>Code</th>  
                        <th>Status</th>                      
                        <th>Period Name</th>
                        <th>Period Length Name</th>
                        <th>Preview Period Start</th>
                        <th>Repeating Id</th>
                        
                    </tr>
                    </thead>
                </table>
            </div>
            <div  id="noData" class="w3-responsive" style="display:none">
                <div>
                    <p>No record found...</p>
                </div>
            </div>
        </div>
    </div>



        <script src="/js/search/searchRepeating.js"></script>

    </div>


