<div th:fragment="approvalactions">
	<script src="/js/cdn1/jquery-3.5.1.js"></script>
	<script src="/js/cdn1/jquery.dataTables.min.js"></script>
	<script src="/js/cdn1/dataTables.buttons.min.js"></script>
	<script src="/js/cdn1/buttons.flash.min.js"></script>
	<script src="/js/cdn1/jszip.min.js"></script>
	<script src="/js/cdn1/pdfmake.min.js"></script>
	<script src="/js/cdn1/vfs_fonts.js"></script>
	<script src="/js/cdn1/buttons.html5.min.js"></script>
	<script src="/js/cdn1/buttons.print.min.js"></script>
	<!-- <script th:inline="javascript">
	/*<![CDATA[*/
	var status = [
		[$ {
			status
		}]
	];
	/*]]>*/
	</script> -->
	<div id="REPORTS_LOADER" class="w3-modal" style="display: none">
		<div class='w3-container' style='margin-top:12px; text-align: center'><i class='fa fa-cog fa-spin' style='font-size: 70px; color: white;'></i></div>
	</div>
	<div class="w3-main" style="margin-left: 300px; margin-top: -14px; margin-bottom:16px;">
		<div style="position: relative;">
			<div class="w3-container w3-margin-bottom">
				<h4 style="font-weight: 400; display:inline-block;">
					<img onclick="w3_open()" class="w3-hide-large" src="/images/hide-grader-panel.png"
						style="cursor: pointer;"> <i class="fas fa-cubes" style="color: blue;"></i>&nbsp;My Approval
					Actions
				</h4>
				<input style="display:inline-block; margin-top:10px;" value="Search" type="button" id="searchbtn" onClick="loadapprovalactions()" class="w3-btn w3-theme w3-right w3-round-large" /> </div>
		</div>
		<div class="w3-container">
			<hr class="hrline"> </div>
		<div id="OWNER_INFO_BLOCK">
			<table id="OWNER_INFO_TBL" class="w3-striped">
				<tbody style="overflow: scroll; overflow: auto">
					<tr>
						<td style="width: 20%">
							<label style="color: grey;">Reimbursement Type</label><span style="color:red;">*</span>
							<!-- <select id="remtype" onchange="status();" name="reimbursement_type" class="w3-select w3-border">
								<option disabled selected></option>
								<option th:each="remtype:${rembtype}" th:if="${remtype.getId() == 16}?'display:none':'display:block'" th:value="${remtype.getId()}" th:text="${remtype.getDescription()}">
							</select> -->
							<select id="remtype" name="reimbursement_type" class="w3-select w3-border" onchange="disablebtn();">
								<option disabled selected></option>
								<option th:each="remtype:${rembtype}" th:if="${remtype.getId() == 16}?'display:none':'display:block'" th:value="${remtype.getId()}" th:text="${remtype.getDescription()}">
							</select> <span style="color:red;display:none;" id="remTyperr">Select Reimbursement</span> </td>
						<td style="width: 20%">
							<label style="color: grey;">My Actions</label><span style="color:red;">*</span>
							<!-- <select id="action" name="reimbursement_status" class="w3-select w3-border" disabled="disabled" onchange="bussinessunit();">
								<option selected disabled></option>
								<option value="Approved">Approved</option>
								<option value="Rejected">Rejected</option>
								<option value="Submitted">Submitted</option>
								<option value="processed">processed</option>
							</select> -->
							<select id="action" name="reimbursement_status" class="w3-select w3-border" onchange="disablebtn();">
								<option selected disabled></option>
								<option value="Approved">Approved</option>
								<option value="Rejected">Rejected</option>
								<option value="Submitted">Submitted</option>
								<!-- <option value="Processed">Processed</option> -->
							</select> <span style="color:red;display:none;" id="actionerr">Select Action</span> </td>
						<td style="width: 20%">
							<label style="color: grey;">Business Unit</label><span style="color:red;">*</span>
							<!-- <select class="w3-select w3-border" name="bu" id="buid" disabled="disabled" onchange="fromdate();">
								<option disabled selected></option>
								<option value="0">All</option>
								<option th:each="bu : ${busunit}" th:value="${bu.getBusinessunitid()}" th:text="${bu.getName()}" ></option>
							</select> -->
							<select class="w3-select w3-border" name="bu" id="buid">
								<option disabled selected></option>
								<option value="0">All</option>
								<option th:each="bu : ${busunit}" th:value="${bu.getBusinessunitid()}" th:text="${bu.getName()}"></option>
							</select> <span style="color:red;display:none;" id="buiderr">Select Business Unit</span> </td>
						<td style="width: 20%">
							<label style="color: grey;">From Date</label>
							<!-- <input id="fromdate" class="w3-input w3-border" type="date" onchange="todate();" data-date-format="YYYY MM DD" disabled /> </td> -->
							<input id="fromdate" class="w3-input w3-border" type="date" data-date-format="YYYY MM DD" /> </td>
						<td style="width: 20%">
							<label style="color: grey;">To Date</label>
							<!-- <input id="todate" onchange="search();" class="w3-input w3-border" type="date" data-date-format="YYYY MM DD" disabled/> </td> -->
							<input id="todate" class="w3-input w3-border" type="date" data-date-format="YYYY MM DD" /> </td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- <div class="w3-row">
			<div class="w3-container w3-quarter" style="margin-top: 5px;">
				<label style="color: grey;">Reimbursement Type</label>
				<select id="remtype" onchange="status();" name="reimbursement_type" class="w3-select w3-border">
					<option disabled selected></option>
					<option th:each="remtype:${rembtype}"
						th:if="${remtype.getId() == 16}?'display:none':'display:block'" th:value="${remtype.getId()}"
						th:text="${remtype.getDescription()}">
				</select>
			</div>
			<div class="w3-container w3-quarter" style="margin-top: 5px;">
				<label style="color: grey;">My Actions</label>
				<select id="action" name="reimbursement_status" class="w3-select w3-border" disabled="disabled"
					onchange="bussinessunit();">
					<option selected disabled></option>
					<option value="Approved">Approved</option>
					<option value="Rejected">Rejected</option>
					<option value="Submitted">Submitted</option>
					<option value="processed">processed</option>
				</select>
			</div>
			<div class="w3-container w3-quarter" style="margin-top: 5px;" >
			<label style="color: grey;">Business Unit</label>
            <select class="w3-select w3-border" name="bu" id="buid"  disabled="disabled"  onchange="fromdate();">
                <option disabled selected></option>
                  <option value="0">All</option>
                 <option th:each="bu : ${busunit}" th:value="${bu.getBusinessunitid()}" th:text="${bu.getName()}" disabled="disabled"></option>
            </select>			
			</div>

			<div class="w3-container w3-quarter" style="margin-top: 5px;">
				<label style="color: grey;">From Date</label>
				<input id="fromdate" class="w3-input w3-border" type="date" onchange="todate();"
					data-date-format="YYYY MM DD" disabled />
			</div>
			<div class="w3-container w3-quarter" style="margin-top: 5px;">
				<label style="color: grey;">To Date</label>
				<input id="todate" onchange="search();" class="w3-input w3-border" type="date"
					data-date-format="YYYY MM DD" disabled />
			</div>
			
		</div> -->
		<div id="resultDivApprove" class="w3-container w3-row w3-margin-top" style="display:none;">
			<table id="Reimbursement_History_Approve" class="w3-table-all" style="width:100%;">
				<thead>
					<th>Emp ID</th>
					<th>Name</th>
					<!-- <th>Request Id</th> -->
					<th>Request Date</th>
					<th>Approved Date</th>
					<th>Business Unit</th>
					<!-- <th>Action Date</th> -->
					<th>Claim Amount</th>
					<th>Approved Amount</th>
					<th>Comments</th>
					<!-- <th>Final Approved Amount</th>
					<th>Final Status</th> -->
				</thead>
			</table>
		</div>
		<div id="resultDivReject" class="w3-container w3-row w3-margin-top" style="display:none;">
			<table id="Reimbursement_History_Reject" class="w3-table-all" style="width:100%;">
				<thead>
					<th>Emp ID</th>
					<th>Name</th>
					<!-- <th>Request Id</th> -->
					<th>Request Date</th>
					<th>Rejected Date</th>
					<th>Business Unit</th>
					<!-- <th>Action Date</th> -->
					<th>Claim Amount</th>
					<th>Approved Amount</th>
					<th>Comments</th>
					<!-- <th>Final Approved Amount</th>
					<th>Final Status</th> -->
				</thead>
			</table>
		</div>
		<form id="dataMappings" enctype="application/x-www-form-urlencoded" onsubmit="return false;" method="POST">
			<div id="REMB_BULK_LOADER" class="w3-modal" style="display: none">
				<div class='w3-container' style='margin-top:11%; text-align: center'><i class='fa fa-cog fa-spin' style='font-size: 70px; color: white;'></i></div>
				<!--<div class='w3-container' style='margin-top:12px; text-align: center'><i class='fa fa-cog fa-spin' style='font-size: 70px; color: white;'></i></div>--></div>
			<div id="resultDiv" class="w3-container w3-row w3-margin-top" style="display:none;">
				<table id="Reimbursement_Approve" class="w3-table-all" style="width:100%;">
					<thead>
						<th>
							<input onclick="checkuncheckAll(this.id)" id="checkuncheckRembbtn" type="checkbox" class="w3-check checkClickOk" checked> </th>
						<th>Emp ID</th>
						<th>Requester Name</th>
						<th>Request Date</th>
						<th>Submitted Date</th>
						<th>Business Unit</th>
						<th>Reimbursement Name</th>
						<th>Claim Amount</th>
						<th>Approved Amount</th>
						<th>Comments</th>
						<!-- <th style="display: none; max-height: 0; max-width: 0;"></th> -->
						<!-- <th  style="display: none;max-height: 0; max-width: 0;"></th>
						<th  style="display: none; max-height: 0; max-width: 0;"></th>
						<th  style="display: none; max-height: 0; max-width: 0;"></th>
						<th  style="display: none; max-height: 0; max-width: 0;"></th> -->
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div id="bulkDataSave" class="w3-bar-item w3-right" style="margin-top: 1px; display: none; ">
				<div type="button" style="float:left;margin-right: 20px;" class="w3-btn w3-red w3-round-large" onclick="bulkApprovalSave('Rejected');" id="btnReject"> <i class="fa fa-ban" aria-hidden="true"></i>&nbsp;&nbsp;Reject </div>
				<div type="button" style="float:left;margin-right: 20px;" class="w3-btn w3-blue w3-round-large" onclick="bulkApprovalSave('Approved');" id="btnSave"> <i class="fas fa-thumbs-up"></i>&nbsp;&nbsp;Approve </div>
			</div>
		</form>
		<!--
	<div th:fragment="showSubmittedApproval">
		<form id="dataMapping" enctype="application/x-www-form-urlencoded" onsubmit="return false;" method="POST">
		<div id="resultDiv" class="w3-container w3-row w3-margin-top" style="display:none;" >
	     <div class="w3-bar"><button id="submittedApproval" class="w3-btn w3-blue w3-round"></button></div>
		<table id="Reimbursement_History" class="w3-table-all" >
			<thead>
				<th>Requester</th>
				<th>Name</th>
				<th>Request Id</th>
				<th>Request Date</th>
				<th>Action Date</th>
				<th>Approved Amount</th>
				<th>Comments</th>
				<th>Final Approved Amount</th>
				<th>Final Status</th>
			</thead>
		</table>
	
	</div>
	
		</form>
	</div>-->
		<div id="noData" class="w3-container w3-responsive" style="display: none">
			<div>
				<p>No record found...</p>
			</div>
		</div>
		<script src="/js/mss/approvalactions.js"></script>
	</div>
</div>