<div th:fragment="fragapprovalhistory">
    <div id="apprhistorypopup" class="w3-modal" style="display:none">
    <div class="w3-modal-content">
      <header class="w3-container w3-theme"> 
        <span onclick="document.getElementById('apprhistorypopup').style.display='none'" 
        class="w3-button w3-display-topright">&times;</span>
        <h4><i class="fa fa-history" aria-hidden="true"></i>&nbsp;&nbsp;Approval History</h4>
      </header>
      
     	<div class="w3-container w3-margin">
        	<div id="apprresultSec" class="w3-responsive" style="display: none">
				<table id="APPROVAL_HISTORY" class="display compact w3-table-all" style="width: 100%;">
					<thead>
						<tr class="w3-theme-d3">
							<th>Approver Level</th>
							<th>Action Date</th>
							<th>Approver Name</th>
							<th>Approved Amount</th>
							<th>Action Taken</th>
							<th>Comment</th>
						</tr>
					</thead>
				</table>
			</div>
			<div id="noDataAPPR" class="w3-responsive" style="display: none">
				<div>
					<p style="font-weight:bold">No approval history found...</p>
				</div>
			</div>
        </div>
        
      <footer class="w3-container w3-grey">
      </footer>
    </div>
	</div>       
</div>               