<div th:fragment="travelExpenseClaimApproval">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var resultfinal = /*[[${result}]]*/;
        var optionsString = /*[[${optionsString}]]*/;
        var flag = /*[[${flag}]]*/;
        var newMode = /*[[${newMode}]]*/;
        /*]]>*/
    </script>

    <div class="w3-main" style="margin-left: 300px; margin-top: -14px; margin-bottom:16px;">
        <div style="position: relative;">
            <div class="w3-container">
                <h4 style="font-weight: 400;">
                    <img onclick="w3_open()" class="w3-hide-large" src="/images/hide-grader-panel.png"
                         style="cursor: pointer;">
                    <i class="fas fa-plane-departure" style="color: greenyellow;"></i>
                    &nbsp;Travel Expense Reimbursement
                </h4> </div>
        </div>
        <div id="fragmaent_container" th:include="forms/reimbursement/header :: header"></div>
        <div class="w3-bar w3-theme-l3">
            <h5 class="w3-bar-item">Approval Details</h5>
            <div class="w3-bar-item w3-right" style="margin-top: 1px;"  th:if="${status eq 'Unread'}" >
                <div type="button" class="w3-btn w3-blue w3-round-large " id="btnBack" rm="/tasks/myWorklist"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>&nbsp;&nbsp;Back</div>
                <div type="button" class="w3-btn w3-red w3-round-large" id="btnSubmit" onclick="approvalSubmit('Rejected');"><i class="fa fa-ban" aria-hidden="true"></i>&nbsp;&nbsp;Reject </div>
                <div type="button" class="w3-btn w3-green w3-round-large" id="btnSave" onclick="approvalSubmit('Approved');"><i class="fas fa-thumbs-up"></i>&nbsp;&nbsp;Approve </div>
                
            </div>
            <div class="w3-bar-item w3-right" style="margin-top: 1px;" th:if="${status eq 'Read'}" >					
					<div type="button" class="w3-btn w3-blue w3-round-large " id="btnBack" rm="/tasks/myWorklist"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>&nbsp;&nbsp;Back</div>
			</div>
        </div>
        <br>
        <div class="w3-container">
            <form method="post" id="Travel_Remb_Form" enctype="multipart/form-data" onsubmit="return false;">
                <div style="display: none">
                    <input id="txtclaimidid" type="text" name="claimid" th:value="${travelExpense.getClaimid()}" />
                    <input id="txtpersonid" type="text" th:name="personid" th:value="${personInfo.getPersonid()}" />
                    <input id="personnumber" type="text" th:name="personnumber" th:value="${personInfo.getPersonnumber()}" />
                    <input id="txtRembId" type="text" th:name="reimburseid" value="17" />
                    <input id="txtRembName" type="text" th:name="reimbursename" value="TravelExpenseReimbursement" />
                    <input id="statusid" type="hidden" name="statusid" /> </div>
                <!--------------------------------------------view mode start here-------------------------------------------->
                <div th:if="${travelExpense.getClaimid()!=0} and ${mode=='view'}">
                    <div>
                        <div class="w3-container w3-quarter" style="margin-bottom: 20px;">
                            <p>
                                <label>Traveling Out From:<span style="color: red">*</span></label>
                                <input style=" background-color: #d5d2d2;" id="travelingdatefrom" th:name="travelingdatefrom" readonly class="w3-input w3-border" type="date" th:value="${travelExpense.getTravelingdatefrom()}" data-date-format="YYYY MM DD" /> <span style="color: red" th:if='${bindingResult != null && bindingResult.getFieldError("travelingdatefrom")!=null}' th:text='${bindingResult.getFieldError("travelingdatefrom").getDefaultMessage()}'></span> </p>
                        </div>
                        <div class="w3-container w3-quarter" style="margin-bottom: 20px;">
                            <p>
                                <label>Start Time:<span style="color: red">*</span></label>
                                <input style=" background-color: #d5d2d2;" id="travelingstarttime" th:name="travelingstarttime" class="w3-input w3-border" type="time" readonly th:value="${travelExpense.getTravelingstarttime()}" /> <span style="color: red" th:if='${bindingResult != null && bindingResult.getFieldError("travelingstarttime")!=null}' th:text='${bindingResult.getFieldError("travelingstarttime").getDefaultMessage()}'></span> </p>
                        </div>
                        <div class="w3-container w3-quarter" style="margin-bottom: 20px;">
                            <p>
                                <label>Return date:<span style="color: red">*</span></label>
                                <input style=" background-color: #d5d2d2;" id="travelingdateto" th:name="travelingdateto" class="w3-input w3-border" type="date" readonly th:value="${travelExpense.getTravelingdateto()}" data-date-format="YYYY MM DD" /> <span style="color: red" th:if='${bindingResult != null && bindingResult.getFieldError("travelingdateto")!=null}' th:text='${bindingResult.getFieldError("travelingdateto").getDefaultMessage()}'></span> </p>
                        </div>
                        <div class="w3-container w3-quarter" style="margin-bottom: 20px;">
                            <p>
                                <label>Return Time:<span style="color: red">*</span></label>
                                <input style=" background-color: #d5d2d2;" id="travelingendtime" th:name="travelingendtime" class="w3-input w3-border" type="time" readonly th:value="${travelExpense.getTravelingendtime()}" /> <span style="color: red" th:if='${bindingResult != null && bindingResult.getFieldError("travelingendtime")!=null}' th:text='${bindingResult.getFieldError("travelingendtime").getDefaultMessage()}'></span> </p>
                        </div>
                    </div>
                    <br>
                    <div class="w3-container w3-half" style="margin-bottom: 20px;">
                        <p>
                            <label>Visiting Country First:<span style="color: red">*</span></label>
                            <input style=" background-color: #d5d2d2;" id="firstcountry" th:name="firstcountry" class="w3-input w3-border" type="text" readonly th:value="${travelExpense.getFirstcountry()}" oninput="this.value=this.value.replace(/[^a-zA-Z. ]/g,'').replace(/(\..*)\./g,'$1');" /> <span style="color: red" th:if='${bindingResult != null && bindingResult.getFieldError("firstcountry")!=null}' th:text='${bindingResult.getFieldError("firstcountry").getDefaultMessage()}'></span> </p>
                    </div>
                    <div class="w3-container w3-half" style="margin-bottom: 20px;">
                        <p>
                            <label>Visiting Country Second:</label>
                            <input style=" background-color: #d5d2d2;" id="secondcountry" th:name="secondcountry" class="w3-input w3-border" type="text" readonly th:value="${travelExpense.getSecondcountry()}" oninput="this.value=this.value.replace(/[^a-zA-Z. ]/g,'').replace(/(\..*)\./g,'$1');" /> <span style="color: red" th:if='${bindingResult != null && bindingResult.getFieldError("secondcountry")!=null}' th:text='${bindingResult.getFieldError("secondcountry").getDefaultMessage()}'></span> </p>
                    </div>
                    <div class="w3-container w3-half" style="margin-bottom: 20px;">
                        <p>
                            <label>From city:<span style="color: red">*</span></label>
                            <input style=" background-color: #d5d2d2;" id="firstcity" th:name="firstcity" readonly class="w3-input w3-border" type="text" th:value="${travelExpense.getFirstcity()}" oninput="this.value=this.value.replace(/[^a-zA-Z. ]/g,'').replace(/(\..*)\./g,'$1');" /> <span style="color: red" th:if='${bindingResult != null && bindingResult.getFieldError("firstcity")!=null}' th:text='${bindingResult.getFieldError("firstcity").getDefaultMessage()}'></span> </p>
                    </div>
                    <div class="w3-container w3-half" style="margin-bottom: 20px;">
                        <p>
                            <label>Visiting City First:</label>
                            <input style=" background-color: #d5d2d2;" id="secondCity" th:name="secondcity" readonly class="w3-input w3-border" type="text" oninput="this.value=this.value.replace(/[^a-zA-Z. ]/g,'').replace(/(\..*)\./g,'$1');" th:value="${travelExpense.getSecondcity()}" /> <span style="color: red" th:if='${bindingResult != null && bindingResult.getFieldError("secondCity")!=null}' th:text='${bindingResult.getFieldError("secondCity").getDefaultMessage()}'></span> </p>
                    </div>
                    <div class="w3-container w3-half" style="margin-bottom: 20px;">
                        <p>
                            <label>Visiting City Secound:</label>
                            <input style=" background-color: #d5d2d2;" id="thirdcity" th:name="thirdcity" readonly class="w3-input w3-border" type="text" oninput="this.value=this.value.replace(/[^a-zA-Z. ]/g,'').replace(/(\..*)\./g,'$1');" th:value="${travelExpense.getThirdcity()}" /> </p>
                    </div>
                    <div class="w3-container w3-half" style="margin-bottom: 20px;">
                        <p>
                            <label>Total Amount:&nbsp;</label>
                            <input style=" background-color: #d5d2d2;" type="text" name="claimamount" id="totalamount" class="w3-input w3-border w3-round" th:value="${travelExpense.getClaimamount()}" readonly> </p>
                    </div>
                    <div class="w3-container">
                        <h5>
                            <strong>Traveling Details:</strong>

                        </h5> </div>
                    <div class="w3-padding ">
                        <div class="w3-padding-large w3-border ">
                            <table id="REIMBURSEMENT_TYPE_TBL" class="display compact w3-table" style="width: 100%;">
                                <thead>
                                <th style="text-align: center;">Expense Type<span style="color: red">*</span></th>
                                <th style="text-align: center">Travel Date<span style="color: red">*</span></th>
                                <th style="text-align: center;">Expense Description</th>
                                <th style="text-align: center">Claim amount<span style="color: red">*</span></th>
                                <th style="text-align: center">Amount paid<span style="color: red">*</span></th>
                                <th style="text-align: center;">File</th>
                                </thead>
                                <tbody>
                                <tr class="myrowclass" th:each="em, stats: ${travelExpense.getExpensedetails()}">
                                    <td style="width: 30%">
                                        <div th:if="${em.getId()==null}">
                                            <select style=" background-color: #d5d2d2;" id="expensetypevalue0" th:name="'expensedetails['+${stats.index}+'].expencetype'" class="w3-select w3-border expensetypeClass">
                                                <option id="1" value="0" hidden selected></option>
                                                <option id="2" hidden></option>
                                                <option th:each="exp:${expenseType}" th:value="${exp.getDescription()}" th:text="${exp.getDescription()}" th:selected="${exp.getDescription() eq em.getExpencetype()}">
                                            </select>
                                        </div>
                                        <div th:if="${em.getId()!=null}">
                                            <select style=" background-color: #d5d2d2;" id="expensetypevalue0" th:name="'expensedetails['+${stats.index}+'].expencetype'" class="w3-select w3-border expensetypeClass" readonly>
                                                <option id="1" value="0" hidden selected></option>
                                                <option id="2" hidden></option>
                                                <option th:each="exp:${expenseType}" th:value="${exp.getDescription()}" th:text="${exp.getDescription()}" th:selected="${exp.getDescription() eq em.getExpencetype()}">
                                            </select>
                                        </div>
                                    </td>
                                    <td style="width: 15%;">
                                        <input style=" background-color: #d5d2d2;" class="w3-input w3-border traveldate traveldateClass" th:name="'expensedetails['+${stats.index}+'].traveldate'" th:value="${em.getTraveldate()}" type="date" readonly data-date="" data-date-format="YYYY MM DD"> </td>
                                    <td style="width: 15%;">
                                        <input style=" background-color: #d5d2d2;" class="w3-input w3-border expenseDescrClass" readonly th:name="'expensedetails['+${stats.index}+'].expencedescription'" th:value="${em.getExpencedescription()}" type="text"> </td>
                                    <td style="width: 15%;">
                                        <input style=" background-color: #d5d2d2;" class="w3-input w3-border billamount amountpaidClass" onchange="billcount()" readonly th:name="'expensedetails['+${stats.index}+'].amountpaid'" th:value="${em.getAmountpaid()}" type="text">
                                    </td>
                                    <td style="width: 15%;">
                                        <input class="w3-input w3-border billamount amountpaidClass2" onchange="billcountApprver()"  th:name="'expensedetails['+${stats.index}+'].amountpaid2'" th:value="${em.getAmountpaid2()}" type="text">
                                    </td>
                                    <td style="width: 8%"> <a class="w3-right" th:if="${(em.getAttachments() !=null) and (em.getAttachments() !='')}" th:href="'/getContent?location='+${em.getAttachments()}" target="_blank" download>Download
                                        <i class="fa fa-download" aria-hidden="true"></i></a>
                                        <input id="attachments" th:name="'expensedetails['+${stats.index}+'].attachments'" type="hidden" th:value="${em.getAttachments()}" /> </td>
                                    <td style="width: 10%">
                                        <input id="id" th:value="${em.getId()}" th:name="'expensedetails['+${stats.index}+'].id'" class="w3-input w3-border" type="hidden" readonly/> </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    <h6 class="w3-text-theme" style="font-weight: bold; margin-top: 2px; bottom: 2px;">
                        To-Do Task
                    </h6>
                    <div class="w3-row">
                        <div class="w3-third w3-container">
                            <p> <strong><label>Approved Amount: &nbsp;&nbsp;</label><span
                                    style="color:red">*</span></strong>
                                <input style=" background-color: #d5d2d2;" id="txtAmount" th:value="${APPRAMT}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="text" th:name="approvedamt" class="w3-input w3-border w3-round" readonly/> </p>
                            <label id="amterror"></label>
                        </div>
                        <div class="w3-third w3-container">
                            <p> <strong><label>Comments: &nbsp;&nbsp;</label><span style="color:red">*</span></strong>
                                <textarea id="txtComment" name="msg" class="w3-input w3-border w3-round"></textarea>
                            </p>
                            <label id="msgerror"></label>
                        </div>
                    </div>
                    <h5> Approval History&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-history"
                                                                    th:id="${travelExpense.getClaimid()}"
                                                                    aria-hidden="true"
                                                                    th:onclick='getapprovalhistory(17,this.id);'></i>
                    </h5>
                    <section class="container" th:if="${mode == 'view'}">
                        <!-- in the sources container show three cards, side by side, or one atop the other on smaller viewports -->
                        <div class="container__sources">
                            <div style="box-shadow: none;background: none;" th:each="aprdata ,stats: ${(approverdata)}">
                                <div class="sources--cms" style="width: 160px">
                                    <p>Approval
                                        <label th:text='${aprdata.getApprovallevel()}'></label>
                                    </p>
                                    <p>
                                        <label th:text='${aprdata.getApproverpersonname()}'></label>
                                    </p>
                                    <p>
                                        <label th:text='${aprdata.getApprovalstatus()}'></label>
                                    </p>
                                    <div th:if='${aprdata.getApprovalstatus() == "Approved"}' style="margin: 0;padding: 0; float:right;box-shadow: none;position: absolute;margin-top: -30px;margin-left: 124px"> <i class="fa fa-check tick"></i> </div>
                                    <div th:if='${aprdata.getApprovalstatus()== "Submitted" or aprdata.getApprovalstatus()== "Pending"}' style="margin: 0;padding: 0; float:right;box-shadow: none;position: absolute;margin-top: -30px;margin-left: 124px"> <i class="fa fa-clock-o pending"></i> </div>
                                    <div th:if='${aprdata.getApprovalstatus() == "Rejected"}' style="margin: 0;padding: 0; float:right;box-shadow: none;position: absolute;margin-top: -30px;margin-left: 124px"> <i class="fa fa-close cancel"></i> </div>
                                </div>
                                <svg class="svghor" viewBox="0 10 100 100">
                                    <line x1="5" x2="100" y1="80" y2="80"></line>
                                </svg>
                                <svg class="svgver" viewBox="0 20 100 100 ">
                                    <line x1="40" x2="40" y1="0" y2="100"></line>
                                </svg>
                            </div>
                            <div style="background: none;margin-top: 40px;margin-left: 26px;"><i class="far fa-stop-circle" style="font-size: 58px;color: red"></i> </div>
                        </div>
                        <!-- include a simple line to divide the container, and animate it to show a connection between the different containers  -->
                    </section>
                </div>
                <!--------------------------------------------view mode end here-------------------------------------------->
            </form>
        </div>
    </div>
    <div th:include="forms/reimbursement/approvalhistory :: fragapprovalhistory"></div>
    <script type="text/javascript" src="/js/reimbursement/approvalhistory.js"></script>
    <script src="/js/reimbursement/travelExpenseReimbursement/travelExpenseClaim.js"></script>
</div>